/*

 █████  ██      ██  ██████  ███    ██
██   ██ ██      ██ ██       ████   ██
███████ ██      ██ ██   ███ ██ ██  ██
██   ██ ██      ██ ██    ██ ██  ██ ██
██   ██ ███████ ██  ██████  ██   ████

*/

/* =================-------| ALIGN GLOBAL |-------================= */
.centered {
  position: relative;
  margin: auto;
  float: left;
  top: 50%;
  left: 50%;
  /*bringyourownprefixes*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}

/* =================-------| ALIGN RELATIVE |-------================= */
.r-h-c {
  position: relative;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.r-v-c {
  position: relative;
  float: left;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.r-v-b {
  position: relative;
  float: left;
  margin: auto;
  top: 100%;
  transform: translateY(-100%);
}

/* =================-------| ALIGN ABSOLUTE |-------================= */
.a-h-c {
  position: absolute;
  left: 0;
  right: 0;
}
.a-v-c {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

/* =================-------| ALIGN - ITEMS |-------================= */
.a-i-inh {
  align-items: inherit;
}
.a-i-ini {
  align-items: initial;
}
.a-i-b {
  align-items: baseline;
}
.a-i-c {
  align-items: center;
}
.a-i-f-s {
  align-items: flex-start;
}
.a-i-f-e {
  align-items: flex-end;
}
.a-i-s {
  align-items: stretch ;
}
.a-i-u {
  align-items: unset;
}

/* =================-------| ALIGN - SELF |-------================= */
.a-s-a {
  align-self: auto;
}
.a-s-inh {
  align-self: inherit;
}
.a-s-ini {
  align-self: initial;
}
.a-s-b {
  align-self: baseline;
}
.a-s-c {
  align-self: center;
}
.a-s-f-s {
  align-self: flex-start;
}
.a-s-f-e {
  align-self: flex-end;
}
.a-s-s {
  align-self: stretch;
}
.a-s-u {
  align-self: unset;
}

/* =================-------| ALIGN - CONTENT |-------================= */
.a-c-a {
  align-content: auto;
}
.a-c-inh {
  align-content: inherit;
}
.a-c-ini {
  align-content: initial;
}
.a-c-b {
  align-content: baseline;
}
.a-c-c {
  align-content: center;
}
.a-c-f-s {
  align-content: flex-start;
}
.a-c-f-e {
  align-content: flex-end;
}
.a-c-s {
  align-content: stretch;
}
.a-c-u {
  align-content: unset;
}

/* =================-------| ALIGN - TEXT |-------================= */
/* TEXT ALIGN START */
.t-a-s {
  text-align: start;
}
/* TEXT ALIGN CENTER */
.t-a-c {
  text-align: center;
}
/* TEXT ALIGN LAST CENTER */
.t-a-l-c {
  text-align-last: center;
}
/* TEXT ALIGN LEFT */
.t-a-l {
  text-align: left;
}
/* TEXT ALIGN RIGHT*/
.t-a-r {
  text-align: right;
}

/* =================-------| VERTICAL ALIGN |-------================= */
.v-a-b {
  vertical-align: bottom;
}
.v-a-m {
  vertical-align: middle;
}
.v-a-t {
  vertical-align: top;
}
