/*

███████ ██      ███████ ██   ██ ██████   ██████  ██   ██
██      ██      ██       ██ ██  ██   ██ ██    ██  ██ ██
█████   ██      █████     ███   ██████  ██    ██   ███
██      ██      ██       ██ ██  ██   ██ ██    ██  ██ ██
██      ███████ ███████ ██   ██ ██████   ██████  ██   ██

*/

.flexbox {
  overflow: hidden;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

/* =================-------| FLEX - DIRECTION |-------================= */
.f-d-c {
  flex-direction: column;
}
.f-d-c-r {
  flex-direction: column-reverse;
}
.f-d-r {
  flex-direction: row;
}
.f-d-r-r {
  flex-direction: row-reverse;
}
.f-d-inh {
  flex-direction: inherit;
}
.f-d-ini {
  flex-direction: initial;
}

/* =================-------| FLEX - WRAP |-------================= */
.f-w-w {
  flex-wrap: wrap;
}
.f-w-n-w {
  flex-wrap: nowrap;
}
.f-w-w-r {
  flex-wrap: wrap-reverse;
}
.f-w-inh {
  flex-wrap: inherit;
}

/* =================-------| FLEX - BASIS |-------================= */
.f-b-f-a{
flex-basis: auto;
}
.f-b-max-c{
flex-basis: -webkit-max-content;
flex-basis: -moz-max-content;
flex-basis: max-content;
}
.f-b-min-c{
flex-basis: -webkit-min-content;
flex-basis: -moz-min-content;
flex-basis: min-content
}
.f-b-fill{
flex-basis: -webkit-fill-available;
flex-basis: -moz-available;
flex-basis: fill;
}
.f-b-f-c{
flex-basis: -webkit-fit-content;
flex-basis: -moz-fit-content;
flex-basis: fit-content;
}
.f-b-c{
flex-basis: content;
}
.f-b-inh{
flex-basis: inherit;
}
.f-b-ini{
flex-basis: initial;
}
.f-b-uns{
flex-basis: unset;
}

/*

   ██ ██    ██ ███████ ████████ ██ ███████ ██    ██
   ██ ██    ██ ██         ██    ██ ██       ██  ██
   ██ ██    ██ ███████    ██    ██ █████     ████
██   ██ ██    ██      ██    ██    ██ ██         ██
 █████   ██████  ███████    ██    ██ ██         ██

*/

/* =================-------| JUSTIFY - CONTENT |-------================= */
.j-c-s-b {
  justify-content: space-between;
}
.j-c-s-a {
  justify-content: space-around;
}
.j-c-f-s {
  justify-content: flex-start;
}
.j-c-f-e {
  justify-content: flex-end;
}
.j-c-c {
  justify-content: center;
}
.j-c-s {
  justify-content: start;
}
.j-c-e {
  justify-content: end;
}

/* =================-------| JUSTIFY - ITEMS |-------================= */
.j-i-f-e {
  justify-items: flex-end;
}
