/*

 ██████  ██████  ██ ██████
██       ██   ██ ██ ██   ██
██   ███ ██████  ██ ██   ██
██    ██ ██   ██ ██ ██   ██
 ██████  ██   ██ ██ ██████

*/

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, repeat(12, 1fr)));
  grid-template-rows: repeat(auto-fill, minmax(1fr, repeat(12, 1fr)));
}
.g-1 {
  grid-column: 1fr;
}
.g-2 {
  grid-column: 2/1;
}
.g-3 {
  grid-column: 3/1;
}
.g-4 {
  grid-column: 4/1;
}
.g-5 {
  grid-column: 5/1;
}
.g-6 {
  grid-column: 6/1;
}
.g-7 {
  grid-column: 7/1;
}
.g-8 {
  grid-column: 8/1;
}
.g-9 {
  grid-column: 9/1;
}
.g-10 {
  grid-column: 10/1;
}
.g-11 {
  grid-column: 11/1;
}
.g-12 {
  grid-column: 12/1;
}

/* =================-------| GRID COLUMNS (COLUMNAS) |-------================= */
.g-c-1fr {
  grid-template-columns: 1fr;
}
.g-c-2fr {
  grid-template-columns: repeat(2, 1fr);
}
.g-c-3fr {
  grid-template-columns: repeat(3, 1fr);
}
.g-t-c-12 {
  grid-template-columns: repeat(12, 1fr);
}

/* =================-------| GRID ROWS (FILAS) |-------================= */
.g-r-1fr {
  grid-template-rows: 1fr;
}
.g-r-6fr {
  grid-template-rows: repeat(12, 1fr);
}
.g-r-7fr {
  grid-template-rows: 7fr;
}
