/*

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████

*/

/* Sintax and specials background */
.bg-inh {
  background: inherit;
}
.bg-none {
  background: none;
}

/* =================-------| BACKGROUND SIZE  |-------================= */
.bg-s-a{
  background-size: auto;
}
.bg-s-cov{
  background-size: cover;
}
.bg-s-con{
  background-size: contain;
}
.bg-s-ini{
  background-size: initial;
}
.bg-s-inh{
  background-size: inherit;
}

/* =================-------| BACKGROUND POSITION |-------================= */
.bg-p-c {
  background-position: center;
  background-origin: unset;
}
.bg-p-b {
  background-position: bottom;
}
.bg-p-l {
  background-position: left;
}
.bg-p-r {
  background-position: right;
}
.bg-p-t {
  background-position: top;
}

/* =================-------| BACKGROUND PURE COLOR |-------================= */
@each $value in $pure-color-settings {
  .bg-#{$value} {
    background-color: $value;
  }
}

/* =================-------| BACKGROUND GLOBAL COLOR  |-------================= */
@each $class,$value in $ns-global-color-settings {
  .ns-bg-#{$class} {
    background-color: $value;
  }
}

/* =================-------| NS BACKGROUND COLOR  |-------================= */
@each $class,$value in $ns-bg-color-settings {
  .ns-bg-#{$class} {
    background-color: $value;
  }
}

/* =================-------| BACKGROUND BLACK NODE  |-------================= */
@for $i from 1 to 10 {
  .bg-black-node-o-#{$i * 10} {
    background-color: rgba(18,18,18,0.1 * $i);
  }
}

/* =================-------| BACKGROUND WHITE NODE  |-------================= */
@for $i from 1 to 10 {
  .bg-white-node-o-#{$i * 10} {
    background-color: rgba(255,255,255,0.1 * $i);
  }
}

/* =================-------| BACKGROUND SOCIAL |-------================= */
.bg-facebook {
  background: #3b5998;
}
.bg-twitter {
  background: #00ACEE;
}
.bg-instagram {
  background: #DD2A7B;
}
.bg-gitlab {
  background: #fc6d26;
}
.bg-patreon {
  background: #FF424D;
}
.bg-youtube {
  background: #c4302b;
}
.bg-github {
  background: #24292e;
}
.bg-linkedin {
  background: #283e4a;
}
