/*

██████   ██████  ██████  ██████  ███████ ██████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
██████  ██    ██ ██████  ██   ██ █████   ██████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
██████   ██████  ██   ██ ██████  ███████ ██   ██

*/

/* =================-------| BORDER |-------================= */
.br-none {
  border: none;
}
.br-c-none {
  border-color: none;
}
.br-t-none {
  border-top: none;
}
.br-t-c-none {
  border-top-color: none;
}
.br-r-none {
  border-right: none;
}
.br-r-c-none {
  border-right-color: none;
}
.br-b-none {
  border-bottom: none;
}
.br-b-c-none {
  border-bottom-color: none;
}
.br-l-none {
  border-left: none;
}
.br-l-c-none {
  border-left-color: none;
}

/* =================-------| BORDER - HALF |-------================= */
.br-left {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.br-right {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.br-top {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.br-bottom {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* =================-------| BORDER STYLE |-------================= */
@each $class,$value in $border-style-settings {
  .br-s-#{$class}{
    border-style: $value;
  }
  .br-t-s-#{$class}{
    border-top-style: $value;
  }
  .br-r-s-#{$class}{
    border-right-style: $value;
  }
  .br-b-s-#{$class}{
    border-bottom-style: $value;
  }
  .br-l-s-#{$class}{
    border-left-style: $value;
  }
}

/* =================-------| BORDER COLORS PURE |-------================= */
@each $value in $pure-color-settings {
  .br-c-#{$value} {
    border-color: $value;
  }
  .br-t-c-#{$value} {
    border-top-color: $value;
  }
  .br-r-c-#{$value} {
    border-right-color: $value;
  }
  .br-b-c-#{$value} {
    border-bottom-color: $value;
  }
  .br-l-c-#{$value} {
    border-left-color: $value;
  }
}

/* =================-------| BORDER COLORS NODE |-------================= */
@each $class,$value in $ns-global-color-settings {
  .ns-br-c-#{$class} {
    border-color: $value;
  }
  .ns-br-t-c-#{$class} {
    border-top-color: $value;
  }
  .ns-br-r-c-#{$class} {
    border-right-color: $value;
  }
  .ns-br-b-c-#{$class} {
    border-bottom-color: $value;
  }
  .ns-br-l-c-#{$class} {
    border-left-color: $value;
  }
}

/* =================-------| BORDER WIDTH |-------================= */
@include generate-by-intervals($border-width-settings,"border-width","br-w",1px);
@include generate-by-intervals($border-width-settings,"border-top-width","br-t-w",1px);
@include generate-by-intervals($border-width-settings,"border-right-width","br-r-w",1px);
@include generate-by-intervals($border-width-settings,"border-bottom-width","br-b-w",1px);
@include generate-by-intervals($border-width-settings,"border-left-width","br-l-w",1px);

/* =================-------| BORDER RADIUS |-------================= */
@include generate-by-intervals($border-radius-settings,"border-radius","br-r",1px);
@include generate-by-intervals($border-radius-settings,"border-top-left-radius","br-r-t-l",1px);
@include generate-by-intervals($border-radius-settings,"border-top-right-radius","br-r-t-r",1px);
@include generate-by-intervals($border-radius-settings,"border-bottom-left-radius","br-r-b-l",1px);
@include generate-by-intervals($border-radius-settings,"border-bottom-right-radius","br-r-b-r",1px);

/* =================-------| NODE BORDER RADIUS |-------================= */
@each $class,$value in $ns-border-radius-settings {
  .ns-br-r-#{$class} {
    border-radius: $value;
  }
  .ns-br-r-t-l-#{$class} {
    border-top-left-radius: $value;
  }
  .ns-br-r-t-r-#{$class} {
    border-top-right-radius: $value;
  }
  .ns-br-r-b-l-#{$class} {
    border-bottom-left-radius: $value;
  }
  .ns-br-r-b-r-#{$class} {
    border-bottom-right-radius: $value;
  }
}
