/*

██████   ██████  ██   ██
██   ██ ██    ██  ██ ██
██████  ██    ██   ███
██   ██ ██    ██  ██ ██
██████   ██████  ██   ██

*/

/* =================-------| BOX - SIZING |-------================= */
.b-s-b-b {
  box-sizing: border-box;
}
.b-s-c-b {
  box-sizing: content-box;
}

/* =================-------| BOX - SHADOW |-------================= */
.b-s-i {
  box-shadow: inset;
}
.b-s-n {
  box-shadow: none;
}
.b-s-1 {
  -webkit-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
  -moz-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
  box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
}
.b-s-2 {
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.33);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.33);
}
.b-s-1-h:hover {
  -webkit-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
  -moz-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
  box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18);
}

/* =================-------| NODE BOX SHADOW |-------================= */
.ns-b-s{
  box-shadow:
  0 0.6px 1.8px -17px rgba(0, 0, 0, 0.317),
  0 2px 6px -17px rgba(0, 0, 0, 0.456),
  0 9px 27px -17px rgba(0, 0, 0, 0.75);
}
.shadow-1 {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.1);
}

