/*

 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██

*/

/* Sintax and specials color */
.c-none {
  color: none;
}
.c-inh {
  color: inherit;
}

/* =================-------| PURE COLOR |-------================= */
@each $value in $pure-color-settings {
  .c-#{$value} {
    color: $value;
  }
}

/* =================-------| NS GLOBAL COLOR |-------================= */
@each $class,$value in $ns-global-color-settings {
  .ns-c-#{$class} {
    color: $value;
  }
}

/* =================-------| NS COLOR |-------================= */
@each $class,$value in $ns-color-settings {
  .ns-c-#{$class} {
    color: $value;
  }
}
