/* flip */
.flip-h {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
.flip-v {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

/* OBJECT FIT */
.obj-fit-con{
  object-fit: content;
}
.obj-fit-cov{
  object-fit: cover;
}
.obj-fit-a{
  object-fit: auto;
}

/* EFFECTS - Fx FX fx fX */
.h-e:hover {
  filter: brightness(1.10);
  -webkit-filter: brightness(1.10);
}
.ripple {
  background-position: center;
  transition: 0.8s background;
  transform-origin: center;
  z-index: 99999;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
  transform-origin: center;
  z-index: 99999;
}
.fx-reflect {
  -webkit-box-reflect: below 1px linear-gradient( transparent, #0005);
}
.text-effect-perspective {
  transform: perspective(100px) rotateY(33deg);
  -webkit-transform: perspective(100px) rotateY(33deg);
  -moz-transform: perspective(100px) rotateY(33deg);
  -ms-transform: perspective(100px) rotateY(33deg);
  -o-transform: perspective(100px) rotateY(33deg);
}
.text-effect-shadow {
  text-shadow: rgba(0, 0, 0, 0.05) 0 0 0px, rgba(0, 0, 0, 0.05) 1px 1px 1px, rgba(0, 0, 0, 0.045) 2px 2px 1px, rgba(0, 0, 0, 0.045) 3px 3px 1px, rgba(0, 0, 0, 0.045) 4px 4px 1px, rgba(0, 0, 0, 0.045) 5px 5px 1px;
}

/*

███    ███  █████  ██   ██     ██      ██ ███    ██ ███████ ███████
████  ████ ██   ██  ██ ██      ██      ██ ████   ██ ██      ██
██ ████ ██ ███████   ███       ██      ██ ██ ██  ██ █████   ███████
██  ██  ██ ██   ██  ██ ██      ██      ██ ██  ██ ██ ██           ██
██      ██ ██   ██ ██   ██     ███████ ██ ██   ████ ███████ ███████

*/

/* =================-------| MAX LINES |-------================= */
.max-lines-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.max-lines-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.max-lines-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.max-lines-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.max-lines-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.max-lines-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.max-lines-7 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.max-lines-8 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
.max-lines-9 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}
.max-lines-10 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

/*

███    ███  █████  ██   ██     ██      ███████ ███    ██  ██████  ██   ██ ████████
████  ████ ██   ██  ██ ██      ██      ██      ████   ██ ██       ██   ██    ██
██ ████ ██ ███████   ███       ██      █████   ██ ██  ██ ██   ███ ███████    ██
██  ██  ██ ██   ██  ██ ██      ██      ██      ██  ██ ██ ██    ██ ██   ██    ██
██      ██ ██   ██ ██   ██     ███████ ███████ ██   ████  ██████  ██   ██    ██

*/

/* =================-------| MAX LENGHT |-------================= */
.max-l-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.max-l-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.max-l-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.max-l-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.max-l-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.max-l-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.max-l-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.max-l-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
.max-l-9 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}
.max-l-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

/*

 █████  ███████ ██████  ███████  ██████ ████████     ██████   █████  ████████ ██  ██████
██   ██ ██      ██   ██ ██      ██         ██        ██   ██ ██   ██    ██    ██ ██    ██
███████ ███████ ██████  █████   ██         ██        ██████  ███████    ██    ██ ██    ██
██   ██      ██ ██      ██      ██         ██        ██   ██ ██   ██    ██    ██ ██    ██
██   ██ ███████ ██      ███████  ██████    ██        ██   ██ ██   ██    ██    ██  ██████

*/

/* =================-------| ASPECT RATIO |-------================= */
.b-0px {
  bottom: 0;
}
.a-r-1-1 {
  width: 100%;
  content: '';
  display: inline-table;
  padding-top: 100%;
}
.a-r-3-2 {
  width: 100%;
  content: '';
  display: inline-table;
  padding-top: 66.66%;
}
.a-r-4-3 {
  width: 100%;
  content: '';
  display: inline-table;
  padding-top: 75%;
}
.a-r-8-3 {
  width: 100%;
  content: '';
  display: inline-table;
  padding-top: 62.5%;
}
.a-r-16-9 {
  width: 100%;
  content: '';
  display: inline-table;
  padding-top: 56.25%;
}

/* NUEVOS AÑADIDOS 20 JUNIO 2021 */
.a-r {
height: 0;
overflow: hidden;
position: relative;
}
.a-r-content {
display: table;
height: 100%;
position: absolute;
top: 0;
width: 100%;
}
.a-r-content > .a-r-center {
display: table-cell;
vertical-align: middle;
}
.a-r-2-1 {
padding-top: 50%;
}
.a-r-1-2 {
padding-top: 200%;
}
.a-r-3-2 {
padding-top: 66.66666667%;
}
.a-r-2-3 {
padding-top: 150%;
}
.a-r-4-3 {
padding-top: 75%;
}
.a-r-3-4 {
padding-top: 133.33333333%;
}
.a-r-5-3 {
padding-top: 60%;
}
.a-r-3-5 {
padding-top: 166.66666667%;
}
.a-r-5-4 {
padding-top: 80%;
}
.a-r-4-5 {
padding-top: 125%;
}
.a-r-16-9 {
padding-top: 56.25%;
}
.a-r-9-16 {
padding-top: 177.77777778%;
}
.a-r-16-10 {
padding-top: 62.5%;
}
.a-r-10-16 {
padding-top: 160%;
}
.a-r-21-9 {
padding-top: 42.85714286%;
}
.a-r-9-21 {
padding-top: 233.33333333%;
}

/* Special ratios */
.a-r-1-1,
.a-r-square {
padding-top: 100%;
}
.a-r-golden {
padding-top: 61.80469716%;
}
.a-r-golden-v {
padding-top: 161.8%;
}

/* textarea */
.txt-a-r-n {
  resize: none;
}

/*

████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██

*/

/* =================-------| TEXT - RENDERING |-------================= */
.t-r-o-l {
  text-rendering: optimizeLegibility;
}
.t-r-o-s {
  text-rendering: optimizeSpeed;
}
.t-r-g-p {
  text-rendering: geometricPrecision;
}

/* =================-------| TEXT - OVERFLOW |-------================= */
.t-of-e {
  display: block;
  display: -webkit-box;
  height: 0 auto;
  width: 0 auto;
  margin: 0 auto;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-all;
}
.t-of-c {
  text-overflow: clip;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
