/*

 ██████ ██    ██ ██████  ███████  ██████  ██████
██      ██    ██ ██   ██ ██      ██    ██ ██   ██
██      ██    ██ ██████  ███████ ██    ██ ██████
██      ██    ██ ██   ██      ██ ██    ██ ██   ██
 ██████  ██████  ██   ██ ███████  ██████  ██   ██

*/

.c-a {
  cursor: auto;
}
.c-p {
  cursor: pointer;
}
.c-w {
  cursor: wait;
}
.c-ch {
  cursor: crosshair;
}
.c-g {
  cursor: grab;
}
.c-gb {
  cursor: grabbing;
}
.c-h {
  cursor: help;
}
.c-z-i {
  cursor: zoom-in;
}
.c-z-o {
  cursor: zoom-out;
}
