/*

██████  ██ ███████ ██████  ██       █████  ██    ██
██   ██ ██ ██      ██   ██ ██      ██   ██  ██  ██
██   ██ ██ ███████ ██████  ██      ███████   ████
██   ██ ██      ██ ██      ██      ██   ██    ██
██████  ██ ███████ ██      ███████ ██   ██    ██

*/

/* Sintax and specials display */
.d-inh {
  display: inherit;
}
.d-n {
  display: none;
}
.d-h {
  display: hidden;
}
.d-v-h:hover {
  display: visible;
}

/* =================-------| DISPLAY BLOCK |-------================= */
.d-b {
  display: block;
}
.d-i-b {
  display: inline-block;
}

/* =================-------| DISPLAY GRID |-------================= */
.d-g {
  display: grid;
}

/* =================-------| DISPLAY FLEX |-------================= */
.d-f {
  display: flex;
}
.d-i-f {
  display: inline-flex;
  clear: both;
}

/* =================-------| DISPLAY TABLE |-------================= */
.d-t {
  display: table;
}
.d-i-t {
  display: inline-table;
}
.d-t-c {
  display: table-cell;
}
.d-t-col {
  display: table-column;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄▀█▄ ▄██ ▄▄▄ ██ ▄▄ ██ ████ ▄▄▀██ ███ ██
  ██ ██ ██ ███▄▄▄▀▀██ ▀▀ ██ ████ ▀▀ ██▄▀▀▀▄██
  ██ ▀▀ █▀ ▀██ ▀▀▀ ██ █████ ▀▀ █ ██ ████ ████
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */

  /* Sintax and specials mobile display */
  .m-d-important {
    display: inherit;
  }
  .m-d-inh {
    display: inherit;
  }
  .m-d-n {
    display: none;
  }

  /* =================-------| DISPLAY BLOCK |-------================= */
  .m-d-b {
    display: block;
  }
  .m-d-i-b {
    display: inline-block;
  }

  /* =================-------| DISPLAY GRID |-------================= */
  .m-d-g {
    display: grid;
  }

  /* =================-------| DISPLAY FLEX |-------================= */
  .m-d-f {
    display: flex;
  }
  .m-d-i-f {
    display: inline-flex;
  }

  /* =================-------| DISPLAY TABLE |-------================= */
  .m-d-t {
    display: table;
  }
  .m-d-i-t {
    display: inline-table;
  }
  .m-d-t-c {
    display: table-cell;
  }
  .m-d-t-col {
    display: table-column;
  }
}
