/*

███████ ████████ ██    ██ ██      ███████ ███████
██         ██     ██  ██  ██      ██      ██
███████    ██      ████   ██      █████   ███████
     ██    ██       ██    ██      ██           ██
███████    ██       ██    ███████ ███████ ███████

*/

i.default {
  background: none;
  color: map-get($ns-color-settings, '1');
}
i.white {
  background: none;
  color: map-get($ns-global-color-settings,'white');
}
i.black {
  background: none;
  color: map-get($ns-global-color-settings,'black');
}
i.alert {
  background: none;
  color: map-get($ns-global-color-settings,'red');
}
i.info {
  background: none;
  color: map-get($ns-global-color-settings,'skyblue');
}
i.caution {
  background: none;
  color: map-get($ns-global-color-settings,'yellow');
}
i.success {
  background: none;
  color: map-get($ns-global-color-settings,'green');
}

.transparent {
  background: transparent;
  background-image: transparent;
  background-color: transparent;
}
.default {
  background-color: map-get($ns-bg-color-settings,'1');
  background: map-get($ns-bg-color-settings,'1');
  color: map-get($ns-color-settings, '1');
}
.white {
  background: map-get($ns-global-color-settings,'white');
  color: #7e7e7e;
}
.black {
  background: map-get($ns-global-color-settings,'black');
  color: #7e7e7e;
}
.alert {
  background: map-get($ns-global-color-settings,'red');
  color: white;
}
.info {
  background: map-get($ns-global-color-settings,'skyblue');
  color: white;
}
.caution {
  background: map-get($ns-global-color-settings,'yellow');
  color: white;
}
.success {
  background: map-get($ns-global-color-settings,'green');
  color: white;
}

/* MORE COLORS */
.pink {
  background: map-get($ns-global-color-settings,'pink');
  color: white;
}
.skyblue {
  background: map-get($ns-global-color-settings,'skyblue');
  color: white;
}
.fuchsia {
  background: map-get($ns-global-color-settings,'fuchsia');
  color: white;
}

/* GHOST */
.ghost {
  background: none;
  color: inherit;
}
.ghost.info {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'skyblue');
}
.ghost.caution {
  color: map-get($ns-global-color-settings,'yellow');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'yellow');
}
.ghost.success {
  color: map-get($ns-global-color-settings,'green');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'green');
}
.ghost.alert {
  color: map-get($ns-global-color-settings,'red');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'red');
}
.ghost.default {
  color: map-get($ns-bg-color-settings,'2');
  box-shadow: 0 0 0 2px inset map-get($ns-bg-color-settings,'2');
}
.ghost.black {
  color: map-get($ns-global-color-settings,'black');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'black');
}
.ghost.white {
  color: map-get($ns-global-color-settings,'white');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'white');
}
.ghost.pink {
  color: map-get($ns-global-color-settings,'pink');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'pink');
}
.ghost.skyblue {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'skyblue');
}
.ghost.fuchsia {
  color: map-get($ns-global-color-settings,'fuchsia');
  box-shadow: 0 0 0 2px inset map-get($ns-global-color-settings,'fuchsia');
}

/* LINES Left */
.line-l {
  background: transparent;
  color: inherit;
  box-shadow: 0 0 0 2px inset inherit;
}
.line-l.info {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-l.caution {
  color: map-get($ns-global-color-settings,'yellow');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'yellow');
}
.line-l.success {
  color: map-get($ns-global-color-settings,'green');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'green');
}
.line-l.alert {
  color: map-get($ns-global-color-settings,'red');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'red');
}
.line-l.default {
  color: map-get($ns-color-settings,'1');
  box-shadow: 2px 0 0 0 inset map-get($ns-bg-color-settings,'2');
}
.line-l.black {
  color: map-get($ns-global-color-settings,'black');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'black');
}
.line-l.white {
  color: inherit;
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'white');
}
.line-l.pink {
  color: map-get($ns-global-color-settings,'pink');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'pink');
}
.line-l.skyblue {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-l.fuchsia {
  color: map-get($ns-global-color-settings,'fuchsia');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'fuchsia');
}

/* LINES Right */
.line-r {
  background: transparent;
  color: inherit;
  box-shadow: 0 0 0 2px inset inherit;
}
.line-r.info {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-r.caution {
  color: map-get($ns-global-color-settings,'yellow');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'yellow');
}
.line-r.success {
  color: map-get($ns-global-color-settings,'green');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'green');
}
.line-r.alert {
  color: map-get($ns-global-color-settings,'red');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'red');
}
.line-r.default {
  color: map-get($ns-color-settings,'1');
  box-shadow: -2px 0 0 0 inset map-get($ns-bg-color-settings,'2');
}
.line-r.black {
  color: map-get($ns-global-color-settings,'black');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'black');
}
.line-r.white {
  color: inherit;
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'white');
}
.line-r.pink {
  color: map-get($ns-global-color-settings,'pink');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'pink');
}
.line-r.skyblue {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-r.fuchsia {
  color: map-get($ns-global-color-settings,'fuchsia');
  box-shadow: -2px 0 0 0 inset map-get($ns-global-color-settings,'fuchsia');
}

/* LINES Top */
.line-t {
  background: transparent;
  color: inherit;
  box-shadow: 0 2px 0 0 inset inherit;
}
.line-t.info {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 0 2px 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-t.caution {
  color: map-get($ns-global-color-settings,'yellow');
  box-shadow: 0 2px 0 0 inset map-get($ns-global-color-settings,'yellow');
}
.line-t.success {
  color: map-get($ns-global-color-settings,'green');
  box-shadow: 0 2px 0 0 inset map-get($ns-global-color-settings,'green');
}
.line-t.alert {
  color: map-get($ns-global-color-settings,'red');
  box-shadow: 0 2px 0 0 inset map-get($ns-global-color-settings,'red');
}
.line-t.default {
  color: map-get($ns-color-settings,'1');
  box-shadow: 0 2px 0 0 inset map-get($ns-bg-color-settings,'2');
}
.line-t.black {
  color: map-get($ns-global-color-settings,'black');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'black');
}
.line-t.white {
  color: inherit;
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'white');
}
.line-t.pink {
  color: map-get($ns-global-color-settings,'pink');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'pink');
}
.line-t.skyblue {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-t.fuchsia {
  color: map-get($ns-global-color-settings,'fuchsia');
  box-shadow: 2px 0 0 0 inset map-get($ns-global-color-settings,'pink');
}

/* LINES Bottom */
.line-b {
  background: transparent;
  color: inherit;
  box-shadow: 0 -2px 0 0 inset inherit;
}
.line-b.info {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-b.caution {
  color: map-get($ns-global-color-settings,'yellow');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'yellow');
}
.line-b.success {
  color: map-get($ns-global-color-settings,'green');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'green');
}
.line-b.alert {
  color: map-get($ns-global-color-settings,'red');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'red');
}
.line-b.default {
  color: map-get($ns-color-settings,'1');
  box-shadow: 0 -2px 0 0 inset map-get($ns-bg-color-settings,'2');
}
.line-b.black {
  color: map-get($ns-global-color-settings,'black');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'black');
}
.line-b.white {
  color: inherit;
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'white');
}
.line-b.pink {
  color: map-get($ns-global-color-settings,'pink');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'pink');
}
.line-b.skyblue {
  color: map-get($ns-global-color-settings,'skyblue');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'skyblue');
}
.line-b.fuchsia {
  color: map-get($ns-global-color-settings,'fuchsia');
  box-shadow: 0 -2px 0 0 inset map-get($ns-global-color-settings,'fuchsia');
}
