/* =================-------| PURE FILL |-------================= */
@each $value in $pure-color-settings {
  .fill-#{$value} {
    fill: $value;
  }
}

/* =================-------| NS GLOBAL FILL |-------================= */
@each $class,$value in $ns-global-color-settings {
  .ns-fill-#{$class} {
    fill: $value;
  }
}
