/*

███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██

*/

/* Sintax and specials font */
.f-s-inh {
  font-size: inherit;
}
.f-w-inh {
  font-weight: inherit;
}
.f-f-inh {
  font-family: inherit;
}

/* =================-------| FONT STYLE |-------================= */
.f-s-n {
  font-style: normal;
}
.f-s-i {
  font-style: italic;
}
.f-s-o {
  font-style: oblique;
}
.f-s-ini {
  font-style: initial;
}
.f-s-inh {
  font-style: inherit;
}

/* =================-------| FONT WEIGHT |-------================= */
.f-w-n {
  font-weight: normal;
}
.f-w-m {
  font-weight: medium;
}
.f-w-bo {
  font-weight: bold;
}
.f-w-bl {
  font-weight: 900;
}

/* =================-------| FONT FAMILY |-------================= */
@each $class,$value in $font-family-settings {
  .f-f-#{$class} {
    font-family: #{$value};
  }
}

@each $class,$value in $node-font-family-settings {
  .ns-f-f-#{$class} {
    font-family: #{$value};
  }
}

/* =================-------| FONT SIZE PX , EM |-------================= */
@include generate-by-intervals($font-size-px-settings,"font-size","f-s",1px);
@include generate-by-intervals($font-size-em-settings,"font-size","f-s",1em);

/* =================-------| NODE FONT SIZE |-------================= */
@each $class,$value in $node-font-size-settings {
  .ns-f-s-#{$class} {
    font-size: nth($value,1);
    line-height: nth($value,2);
  }
}

/* Responsive */
@media only screen and (max-width: 768px) {
  @each $class,$value in $node-font-size-settings {
    .m-ns-f-s-#{$class} {
      font-size: nth($value,1);
      line-height: nth($value,2);
    }
  }
}

/*

██      ██ ███    ██ ███████     ██   ██
██      ██ ████   ██ ██          ██   ██
██      ██ ██ ██  ██ █████ █████ ███████
██      ██ ██  ██ ██ ██          ██   ██
███████ ██ ██   ████ ███████     ██   ██

*/

/* =================-------| LINE HEIGHT PX , EM |-------================= */
@include generate-by-intervals($line-height-px-settings,"line-height","l-h",1px);
@include generate-by-intervals($line-height-em-settings,"line-height","l-h",1em);
