/* SQUARE */
.square-16x16 {
  height: 1.000em;
  width: 1.000em;
}
.square-24x24 {
  height: 1.500em;
  width: 1.500em;
}
.square-32x32 {
  height: 2.000em;
  width: 2.000em;
}
.square-64x64 {
  height: 4.000em;
  width: 4.000em;
}
.square-96x96 {
  height: 6.000em;
  width: 6.000em;
}
.square-128x128 {
  height: 8.000em;
  width: 8.000em;
}
.square-256x256 {
  height: 16.000em;
  width: 16.000em;
}
.square-500x500 {
  height: 31.250em;
  width: 31.250em;
}

/* Circle */
.circle {
  border-radius: 50696px;
  -webkit-border-radius: 50696px;
  -moz-border-radius: 50696px;
  -ms-border-radius: 50696px;
  -o-border-radius: 50696px;
  border-color: inherit;
  border-style: inherit;
}
