/*

██   ██  █████  ██████  ██ ████████ ███████
██   ██ ██   ██ ██   ██ ██    ██    ██
███████ ███████ ██████  ██    ██    ███████
██   ██ ██   ██ ██   ██ ██    ██         ██
██   ██ ██   ██ ██████  ██    ██    ███████

*/

/* = Position Relative - Float Left - Margin Auto - MARGIN AUTO */
.h-pr-fl-ma {
  position: relative;
  float: left;
  margin: auto;
}

/* = Position Relative - Float Right - Margin Auto - MARGIN AUTO */
.h-pr-fr-ma {
  position: relative;
  float: right;
  margin: auto;
}
