/*

 ██████  ██████   █████   ██████ ██ ████████ ██    ██
██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
██    ██ ██████  ███████ ██      ██    ██      ████
██    ██ ██      ██   ██ ██      ██    ██       ██
 ██████  ██      ██   ██  ██████ ██    ██       ██

*/

/* Sintax and specials opacity */
.o-inh {
  padding: inherit;
}
.o-none {
  opacity: 0;
}

/* =================-------| OPACITY % |-------================= */
@for $i from 0 to 21 {
  .o-#{$i * 5} {
    opacity: $i * 5%;
  }
}
