/*

 ██████  ██    ██ ███████ ██████  ███████ ██       ██████  ██     ██
██    ██ ██    ██ ██      ██   ██ ██      ██      ██    ██ ██     ██
██    ██ ██    ██ █████   ██████  █████   ██      ██    ██ ██  █  ██
██    ██  ██  ██  ██      ██   ██ ██      ██      ██    ██ ██ ███ ██
 ██████    ████   ███████ ██   ██ ██      ███████  ██████   ███ ███

*/

/* Sintax and specials overflow */
.of-h {
  overflow: hidden;
}
.of-inherit {
  overflow: inherit;
}
.of-auto {
  overflow: auto;
}
.of-scroll {
  overflow: scroll;
}
.of-hidden {
  overflow: hidden;
}
.of-none {
  overflow: none;
}
.of-visible {
  overflow: visible;
}

/* =================-------| OVERFLOW Y |-------================= */
.of-y-inherit {
  overflow-y: inherit;
}
.of-y-auto {
  overflow-y: auto;
}
.of-y-scroll {
  overflow-y: scroll;
}
.of-y-hidden {
  overflow-y: hidden;
}
.of-y-none {
  overflow-y: none;
}

/* Show overflow y scroll on hover */
.of-y-hover {
  overflow-y: hidden;
}
.of-y-hover:hover {
  overflow-y: scroll;
  cursor: pointer;
}

/*  Show overflow y auto on hover */
.of-y-auto-hover {
  overflow-y: hidden;
}
.of-y-auto-hover:hover {
  overflow-y: scroll;
}

/* =================-------| OVERFLOW X |-------================= */
.of-x-inherit {
  overflow-x: inherit;
}
.of-x-auto {
  overflow-x: auto;
}
.of-x-scroll {
  overflow-x: scroll;
}
.of-x-hidden {
  overflow-x: hidden;
}
.of-x-none {
  overflow-x: none;
}

/* Show overflow x scroll on hover */
.of-x-hover {
  overflow-x: hidden;
}
.of-x-hover:hover {
  overflow-x: scroll;
  cursor: pointer;
}

/*  Show overflow x auto on hover */
.of-x-auto-hover {
  overflow-x: hidden;
}
.of-x-auto-hover:hover {
  overflow-x: scroll;
}

/* =================-------| OVERFLOW TEXT |-------================= */
.t-of-e {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-of-c {
  text-overflow: clip;
  white-space: nowrap;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄▄ ██ ███ ██ ▄▄▄██ ▄▄▀██ ▄▄▄██ █████ ▄▄▄ ██ ███ ██
  ██ ███ ███ █ ███ ▄▄▄██ ▀▀▄██ ▄▄███ █████ ███ ██ █ █ ██
  ██ ▀▀▀ ███▄▀▄███ ▀▀▀██ ██ ██ █████ ▀▀ ██ ▀▀▀ ██▄▀▄▀▄██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */

  /* Sintax and specials overflow */
  .m-of-inherit {
    overflow: inherit;
  }
  .m-of-auto {
    overflow: auto;
  }
  .m-of-scroll {
    overflow: scroll;
  }
  .m-of-hidden {
    overflow: hidden;
  }
  .m-of-none {
    overflow: none;
  }

  /* =================-------| OVERFLOW Y |-------================= */
  .m-of-y-inherit {
    overflow-y: inherit;
  }
  .m-of-y-auto {
    overflow-y: auto;
  }
  .m-of-y-scroll {
    overflow-y: scroll;
  }
  .m-of-y-hidden {
    overflow-y: hidden;
  }
  .m-of-y-none {
    overflow-y: none;
  }

  /* Show overflow y scroll on hover */
  .m-of-y-hover {
    overflow-y: hidden;
  }
  .m-of-y-hover:hover {
    overflow-y: scroll;
    cursor: pointer;
  }

  /*  Show overflow y auto on hover */
  .m-of-y-auto-hover {
    overflow-y: hidden;
  }
  .m-of-y-auto-hover:hover {
    overflow-y: scroll;
  }

  /* =================-------| OVERFLOW X |-------================= */
  .m-of-x-inherit {
    overflow-x: inherit;
  }
  .m-of-x-auto {
    overflow-x: auto;
  }
  .m-of-x-scroll {
    overflow-x: scroll;
  }
  .m-of-x-hidden {
    overflow-x: hidden;
  }
  .m-of-x-none {
    overflow-x: none;
  }

  /* Show overflow x scroll on hover */
  .m-of-x-hover {
    overflow-x: hidden;
  }
  .m-of-x-hover:hover {
    overflow-x: scroll;
    cursor: pointer;
  }

  /*  Show overflow x auto on hover */
  .m-of-x-auto-hover {
    overflow-x: hidden;
  }
  .m-of-x-auto-hover:hover {
    overflow-x: scroll;
  }
}
