/*

██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██
██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██
██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██
██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██
██       ██████  ███████ ██    ██    ██  ██████  ██   ████

*/

.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: static;
}
.pst {
  position: sticky;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄ ██ ▄▄▄ ██ ▄▄▄ █▄ ▄█▄▄ ▄▄█▄ ▄██ ▄▄▄ ██ ▀██ ██
  ██ ▀▀ ██ ███ ██▄▄▄▀▀██ ████ ████ ███ ███ ██ █ █ ██
  ██ █████ ▀▀▀ ██ ▀▀▀ █▀ ▀███ ███▀ ▀██ ▀▀▀ ██ ██▄ ██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
  .m-pr {
    position: relative;
  }
  .m-pa {
    position: absolute;
  }
  .m-pf {
    position: fixed;
  }
  .m-ps {
    position: static;
  }
  .m-pst {
    position: sticky;
  }
}

/*

███████      ██ ███    ██ ██████  ███████ ██   ██
   ███       ██ ████   ██ ██   ██ ██       ██ ██
  ███  █████ ██ ██ ██  ██ ██   ██ █████     ███
 ███         ██ ██  ██ ██ ██   ██ ██       ██ ██
███████      ██ ██   ████ ██████  ███████ ██   ██

*/

.z-i-a {
  z-index: auto;
}
.z-i--5 {
  z-index: -5;
}
.z-i--4 {
  z-index: -4;
}
.z-i--3 {
  z-index: -3;
}
.z-i--2 {
  z-index: -2;
}
.z-i--1 {
  z-index: -1;
}
.z-i-0 {
  z-index: 0;
}
.z-i-1 {
  z-index: 1;
}
.z-i-2 {
  z-index: 2;
}
.z-i-3 {
  z-index: 3;
}
.z-i-4 {
  z-index: 4;
}
.z-i-5 {
  z-index: 5;
}
.z-i-99 {
  z-index: 99;
}
