/*

██     ██ ██ ██████  ████████ ██   ██
██     ██ ██ ██   ██    ██    ██   ██
██  █  ██ ██ ██   ██    ██    ███████
██ ███ ██ ██ ██   ██    ██    ██   ██
 ███ ███  ██ ██████     ██    ██   ██

*/

/* Sintax and specials width */
.w-inh {
  width: inherit;
}
.w-auto {
  width: auto;
}
.width-auto {
  width: auto;
}
.width-inherit {
  width: inherit;
}

/* Width px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"width","w",1px);
@include generate-by-intervals($sizes-base-settings,"width","w",1pt);
@include generate-by-intervals($sizes-cent-settings,"width","w",1%);
@include generate-by-intervals($sizes-cent-settings,"width","w",1vw);

/* Min Width px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"min-width","min-w",1px);
@include generate-by-intervals($sizes-base-settings,"min-width","min-w",1pt);
@include generate-by-intervals($sizes-cent-settings,"min-width","min-w",1%);
@include generate-by-intervals($sizes-cent-settings,"min-width","min-w",1vw);

/* Max Width px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"max-width","max-w",1px);
@include generate-by-intervals($sizes-base-settings,"max-width","max-w",1pt);
@include generate-by-intervals($sizes-cent-settings,"max-width","max-w",1%);
@include generate-by-intervals($sizes-cent-settings,"max-width","max-w",1vw);

/*

██   ██ ███████ ██  ██████  ██   ██ ████████
██   ██ ██      ██ ██       ██   ██    ██
███████ █████   ██ ██   ███ ███████    ██
██   ██ ██      ██ ██    ██ ██   ██    ██
██   ██ ███████ ██  ██████  ██   ██    ██

*/

/* Sintax and specials height */
.h-inh {
  height: inherit;
}
.h-auto {
  height: auto;
}
.height-auto {
  height: auto;
}
.height-inherit {
  height: inherit;
}
.h-12-5 {
  height: 12.5%;   /* 100 / 8 = 12.5 */
}

/* Height px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"height","h",1px);
@include generate-by-intervals($sizes-base-settings,"height","h",1pt);
@include generate-by-intervals($sizes-cent-settings,"height","h",1%);
@include generate-by-intervals($sizes-cent-settings,"height","h",1vh);

/* Max Height px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"max-height","max-h",1px);
@include generate-by-intervals($sizes-base-settings,"max-height","max-h",1pt);
@include generate-by-intervals($sizes-cent-settings,"max-height","max-h",1%);
@include generate-by-intervals($sizes-cent-settings,"max-height","max-h",1vh);

/* Min Height px - pt - % - vw - vh */
@include generate-by-intervals($sizes-base-settings,"min-height","min-h",1px);
@include generate-by-intervals($sizes-base-settings,"min-height","min-h",1pt);
@include generate-by-intervals($sizes-cent-settings,"min-height","min-h",1%);
@include generate-by-intervals($sizes-cent-settings,"min-height","min-h",1vh);

/*

██     ██ ██ ██████  ████████ ██   ██      █████  ███    ██ ██████      ██   ██ ███████ ██  ██████  ██   ██ ████████
██     ██ ██ ██   ██    ██    ██   ██     ██   ██ ████   ██ ██   ██     ██   ██ ██      ██ ██       ██   ██    ██
██  █  ██ ██ ██   ██    ██    ███████     ███████ ██ ██  ██ ██   ██     ███████ █████   ██ ██   ███ ███████    ██
██ ███ ██ ██ ██   ██    ██    ██   ██     ██   ██ ██  ██ ██ ██   ██     ██   ██ ██      ██ ██    ██ ██   ██    ██
 ███ ███  ██ ██████     ██    ██   ██     ██   ██ ██   ████ ██████      ██   ██ ███████ ██  ██████  ██   ██    ██

*/


/* Sintax and specials width and height */
.w-and-h-inh {
  width: inherit;
  height: inherit;
}
.w-and-h-a {
  width: auto;
  height: auto;
}
.w-and-h-auto {
  width: auto;
  height: auto;
}
.w-and-h-inherit {
  width: inherit;
  height: inherit;
}

/* Width and Height px */
@each $map in $sizes-base-settings {
  $begin: map-get($map, "begin");
  $end: map-get($map, "end");
  $interval: map-get($map, "interval");
  @for $i from 0 to ((($end - $begin) / $interval) + 1) {
    .w-and-h-#{format-float(($begin + ($i * $interval)), 1px)} {
      width: ($begin + ($i * $interval)) * 1px;
      height: ($begin + ($i * $interval)) * 1px;;
    }
  }
}

/* Width and Height % */
@each $map in $sizes-cent-settings {
  $begin: map-get($map, "begin");
  $end: map-get($map, "end");
  $interval: map-get($map, "interval");
  @for $i from 0 to ((($end - $begin) / $interval) + 1) {
    .w-and-h-#{format-float(($begin + ($i * $interval)), 1%)} {
      width: ($begin + ($i * $interval)) * 1%;;
      height: ($begin + ($i * $interval)) * 1%;;
    }
  }
}

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ███ █▄ ▄██ ▄▄▀█▄▄ ▄▄██ ██ ██
  ██ █ █ ██ ███ ██ ███ ████ ▄▄ ██
  ██▄▀▄▀▄█▀ ▀██ ▀▀ ███ ████ ██ ██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */

  /* Sintax and specials mobile width */
  .m-w-inh {
    width: inherit;
  }
  .m-w-auto {
    width: auto;
  }
  .m-width-auto {
    width: auto;
  }
  .m-width-inherit {
    width: inherit;
  }

  /* Width px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"width","m-w",1px);
  @include generate-by-intervals($sizes-base-settings,"width","m-w",1pt);
  @include generate-by-intervals($sizes-cent-settings,"width","m-w",1%);
  @include generate-by-intervals($sizes-cent-settings,"width","m-w",1vw);

  /* Min Width px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"min-width","m-min-w",1px);
  @include generate-by-intervals($sizes-base-settings,"min-width","m-min-w",1pt);
  @include generate-by-intervals($sizes-cent-settings,"min-width","m-min-w",1%);
  @include generate-by-intervals($sizes-cent-settings,"min-width","m-min-w",1vw);

  /* Max Width px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"max-width","m-max-w",1px);
  @include generate-by-intervals($sizes-base-settings,"max-width","m-max-w",1pt);
  @include generate-by-intervals($sizes-cent-settings,"max-width","m-max-w",1%);
  @include generate-by-intervals($sizes-cent-settings,"max-width","m-max-w",1vw);

  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ██ ██ ▄▄▄█▄ ▄██ ▄▄ ██ ██ █▄▄ ▄▄██
  ██ ▄▄ ██ ▄▄▄██ ███ █▀▀██ ▄▄ ███ ████
  ██ ██ ██ ▀▀▀█▀ ▀██ ▀▀▄██ ██ ███ ████
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */

  /* Sintax and specials height */
  .m-h-inh {
    height: inherit;
  }
  .m-h-auto {
    height: auto;
  }
  .m-height-auto {
    height: auto;
  }
  .m-height-inherit {
    height: inherit;
  }
  .m-h-12-5 {
    height: 12.5%;   /* 100 / 8 = 12.5 */
  }

  /* Height px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"height","m-h",1px);
  @include generate-by-intervals($sizes-base-settings,"height","m-h",1pt);
  @include generate-by-intervals($sizes-cent-settings,"height","m-h",1%);
  @include generate-by-intervals($sizes-cent-settings,"height","m-h",1vh);

  /* Max Height px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"max-height","m-max-h",1px);
  @include generate-by-intervals($sizes-base-settings,"max-height","m-max-h",1pt);
  @include generate-by-intervals($sizes-cent-settings,"max-height","m-max-h",1%);
  @include generate-by-intervals($sizes-cent-settings,"max-height","m-max-h",1vh);

  /* Min Height px - pt - % - vw - vh */
  @include generate-by-intervals($sizes-base-settings,"min-height","m-min-h",1px);
  @include generate-by-intervals($sizes-base-settings,"min-height","m-min-h",1pt);
  @include generate-by-intervals($sizes-cent-settings,"min-height","m-min-h",1%);
  @include generate-by-intervals($sizes-cent-settings,"min-height","m-min-h",1vh);
}
