/*

███    ███  █████  ██████   ██████  ██ ███    ██
████  ████ ██   ██ ██   ██ ██       ██ ████   ██
██ ████ ██ ███████ ██████  ██   ███ ██ ██ ██  ██
██  ██  ██ ██   ██ ██   ██ ██    ██ ██ ██  ██ ██
██      ██ ██   ██ ██   ██  ██████  ██ ██   ████

*/

/* Sintax and specials margin */
.m-auto {
  margin: auto;
}
.margin-auto {
  margin: auto;
}

/* Margin , Margin-Top , Margin-Right , Margin-Bottom , Margin-Left px */
@include generate-by-intervals($spacing-settings,"margin","m",1px);
@include generate-by-intervals($spacing-settings,"margin-top","m-t",1px);
@include generate-by-intervals($spacing-settings,"margin-right","m-r",1px);
@include generate-by-intervals($spacing-settings,"margin-bottom","m-b",1px);
@include generate-by-intervals($spacing-settings,"margin-left","m-l",1px);

/*

██████   █████  ██████  ██████  ██ ███    ██  ██████
██   ██ ██   ██ ██   ██ ██   ██ ██ ████   ██ ██
██████  ███████ ██   ██ ██   ██ ██ ██ ██  ██ ██   ███
██      ██   ██ ██   ██ ██   ██ ██ ██  ██ ██ ██    ██
██      ██   ██ ██████  ██████  ██ ██   ████  ██████

*/

/* Sintax and specials padding */
.p-inh {
  padding: inherit;
}
.p-none {
  padding: 0;
}

/* Padding , Padding-Top , Padding-Right , Padding-Bottom , Padding-Left px */
@include generate-by-intervals($spacing-settings,"padding","p",1px);
@include generate-by-intervals($spacing-settings,"padding-top","p-t",1px);
@include generate-by-intervals($spacing-settings,"padding-right","p-r",1px);
@include generate-by-intervals($spacing-settings,"padding-bottom","p-b",1px);
@include generate-by-intervals($spacing-settings,"padding-left","p-l",1px);

/* NS padding */
@each $class,$value in $ns-spacing-settings {
  .ns-p-#{$class} {
    padding: $value;
  }
  .ns-p-t-#{$class} {
    padding-top: $value;
  }
  .ns-p-r-#{$class} {
    padding-right: $value;
  }
  .ns-p-b-#{$class} {
    padding-bottom: $value;
  }
  .ns-p-l-#{$class} {
    padding-left: $value;
  }
}

/* Responsive */
@media only screen and (max-height: 500px) {
  @each $class,$pastvalue in $ns-spacing-settings {
    $value: ceil($pastvalue / 2);
    .ns-p-#{$class} {
      padding: $value;
    }
    .ns-p-t-#{$class} {
      padding-top: $value;
    }
    .ns-p-r-#{$class} {
      padding-right: $value;
    }
    .ns-p-b-#{$class} {
      padding-bottom: $value;
    }
    .ns-p-l-#{$class} {
      padding-left: $value;
    }
  }
}
