/* Global */
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

/* Body */
body {
  color: map-get($ns-color-settings,"1");
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  font-size: 16px;
}

/* Button */
button {
  color: none;
  outline: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: map-get($node-font-family-settings,"1");
}
button:active {
  color: none;
  outline: none;
  border: none;
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

/* Ancle */
a {
  outline: none;
  text-decoration: none;
  color: inherit;
  fill: inherit;
  margin: inherit;
  position: inherit;
  height: inherit;
  width: inherit;
}
a:link {
  outline: none;
  text-decoration: none;
  color: map-get($ns-color-settings,"e");
  fill: inherit;
  margin: inherit;
  position: inherit;
  height: inherit;
  width: inherit;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00baff;
}
a:active {
  text-decoration: none;
  outline: none;
  color: #ff0096;
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  font-family: map-get($node-font-family-settings,"1");
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
}
h3 {
  font-size: 1.3em;
  line-height: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1em;
}
h5 {
  font-size: 1em;
  line-height: 1em;
}
h6 {
  font-size: 0.8em;
  line-height: 1em;
}

/* Input */
input:focus {
  outline: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Select */
select:focus {
  outline: none;
}

/* Textarea */
textarea:focus {
  outline: none;
}

/* Scrollbar */
div::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
div::-webkit-scrollbar-thumb {
  background: map-get($ns-bg-color-settings,"3");
  border: 0;
  border-radius: 100px;
}
div::-webkit-scrollbar-thumb:hover {
  background: map-get($ns-bg-color-settings,"2");
}
div::-webkit-scrollbar-thumb:active {
  background: map-get($ns-bg-color-settings,"e");
}
div::-webkit-scrollbar-track {
  background: #2020202d;
  border: 0;
  border-radius: 70px;
}
div::-webkit-scrollbar-track:hover {
  background: #2828282f;
}
div::-webkit-scrollbar-track:active {
  background: #2020201f;
}
div::-webkit-scrollbar-corner {
  background: transparent;
}

/* Responsive */
@media only screen and (max-height: 500px) {
  body{
    font-size: 10px;
  }
}
