

.Sct.nano {
  height: 23px !important;

}
.Sct.small {
  height: 28px !important;

}
.Sct.normal {
  height: 31px !important;

}
.Sct.big {
  height: 53px !important;

}
.Sct.giant {
  height: 75px !important;

}

.Input select {
  width: 100%;
  display: inline-flex;
  outline: 0;
  border: none;
  color: inherit;
  font-family: var(--current-font-family-1);
  padding: var(--current-padding-1);
  overflow: hidden;
  outline: none;
  cursor: pointer;
  
}