<div class="w-100 h-100 h-pr-fl-ma">
  <div class="w-100 h-10 h-pr-fl-ma">
    <PublicationFilter></PublicationFilter>
</div>

    <div class="w-100 h-70 h-pr-fl-ma of-y-auto of-x-none">

        <PublicationBusiness></PublicationBusiness>
        <PublicationBusiness></PublicationBusiness>
        <PublicationBusiness></PublicationBusiness>
        <PublicationBusiness></PublicationBusiness>
    </div>
    <div class="w-100 h-10 h-pr-fl-ma c-p-1">
      <PublicationControlers></PublicationControlers>
  </div>
    <div class="w-100 h-10 h-pr-fl-ma">

        <Pagination></Pagination>

    </div>

</div>
