<!-- ?

? ██       ██████   ██████  ██ ███    ██     ██    ██ ███████ ███████ ██████ 
? ██      ██    ██ ██       ██ ████   ██     ██    ██ ██      ██      ██   ██ 
? ██      ██    ██ ██   ███ ██ ██ ██  ██     ██    ██ ███████ █████   ██████  
? ██      ██    ██ ██    ██ ██ ██  ██ ██     ██    ██      ██ ██      ██   ██ 
? ███████  ██████   ██████  ██ ██   ████      ██████  ███████ ███████ ██   ██

? -->
<form [formGroup]="LoginForm" (submit)="handlerSubmit($event)" class="w-80 r-h-c c-p-1 of-hidden b-s-b-b h-auto h-pr-fl-ma">
  <!-- EMAIL O USERNAME (TEXTO) LOGIN -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <Text text="Ingrese su email o username:" class="f-w-bo" size="nano"></Text>
  </div>
  <!-- EMAIL O USERNAME (INPUT) LOGIN -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <Inp
      size="small"
      className="w-100"
      IconLeft="fas fa-user-circle"
      theme="black"
      placeholder="Email ó Username"
    ></Inp>
  </div>
  <!-- PASSWORD (TEXTO) LOGIN -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <Text class="f-w-bo" text="Ingrese su password:" size="nano"></Text>
  </div>
  <!-- PASSWORD (INPUT) LOGIN -->
  <div class="w-100 h-auto m-b-10px h-pr-fl-ma">
    <Inp
      type="password"
      size="small"
      className="w-100"
      IconLeft="fas fa-asterisk"
      theme="black"
      placeholder="Password"
    ></Inp>
  </div>
  <div class="w-100 h-pr-fl-ma c-p-1">
    <Btn
      theme="info"
      IconLeft="fas fa-user-circle"
      className="w-100 r-h-c c-p-1"
      size="normal"
      text="Ingresar"
    ></Btn>
</div>

<div class="w-100 h-10vh c-bg-9 h-pr-fl-ma">
  <Btn
  (click)="handlerRecovery()"
    size="small"
    theme="black"
    text="Recuperar Contraseña"
    className="centered"
    IconLeft="fas fa-asterisk"
  ></Btn>
</div>
</form>
