.ProgBar .ProgLoad{
 width: 75%;
 background: auto;
 animation: progLoad 4s infinite ease-out ;
 -webkit-animation: progLoad 4s infinite ease-out;
}

@keyframes progLoad{
  0%  { background: #ed293e;
        width: 0%;}
  25% { background: #ff781f;
        width: 25%; }
  50% { background: #ffcc00 ;
        width: 50%; }
  100%{ background: #02e473;
        width: 100%; }

}
