/* DATALIST */
.datalist input {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: 0;
  border: 0 solid #000000;
  border-radius: 11px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.datalist datalist::-ms-expand {
  display: none;
}
.datalist datalist:focus,
.datalist datalist:hover {
  color: #000000;
  background: #cccccc;
}
.datalist datalist:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.datalist_arrow {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 0;
  height: 0;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.datalist datalist:hover ~ .datalist_arrow {
  border-color: inherit;

}
.datalist datalist:focus ~ .datalist_arrow {
  top: 11px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.datalist datalist:not(:focus) ~ .datalist_arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.datalist datalist:disabled ~ .datalist_arrow {
  border-top-color: #cccccc;
}
