
/* animation - triangle - rotation - jobs*/
@keyframes a-t-r-jobs {
  0% {
      opacity: 0;
      transform: rotateY(0deg) translateY(-300px);
      -webkit-transform: rotateY(0deg) translateY(-300px);
      -moz-transform: rotateY(0deg) translateY(-300px);
      -ms-transform: rotateY(0deg) translateY(-300px);
      -o-transform: rotateY(0deg) translateY(-300px);
  }
  30% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
      transform: rotateY(2159deg);
      -webkit-transform: rotateY(2159deg);
      -moz-transform: rotateY(2159deg);
      -ms-transform: rotateY(2159deg);
      -o-transform: rotateY(2159deg);
  }

}
/* animation - J - rotation - jobs*/
@keyframes a-j-r-jobs {
  0% {
    opacity: 0;
    transform: scale(0,-0.1);
    -webkit-transform: scale(0,-0.1);
    -moz-transform: scale(0,-0.1);
    -ms-transform: scale(0,-0.1);
    -o-transform: scale(0,-0.1);
  }

  100% {
    opacity: 100%;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
  }
}
/* animation - todo - rotation - jobs*/
@keyframes a-all-r-s-jobs {

  0% {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(359deg);
      -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
      -o-transform: scale(1,1);
  }

}
/* animation - contenedor - rotation - jobs*/
@keyframes a-c-s-jobs {
  0% {
      transform: scale(1,1);
      -webkit-transform: scale(1,1,1);
      -moz-transform: scale(1,1,1);
      -ms-transform: scale(1,1,1);
      -o-transform: scale(1,1,1);
}
50% {
transform: scale(0.5,0.5);
-webkit-transform: scale(0.5,0.51);
-moz-transform: scale(0.5,0.51);
-ms-transform: scale(0.5,0.51);
-o-transform: scale(0.5,0.51);
}
100% {
transform: scale(1,1);
-webkit-transform: scale(1,1);
-moz-transform: scale(1,1);
-ms-transform: scale(1,1);
-o-transform: scale(1,1);
}

}

.a-c-s-jobs {
animation-delay: 4s ;
animation: a-c-s-jobs 1s infinite ease-in-out;
-webkit-animation: a-c-s-jobs 1s infinite ease-in-out;
}

.a-all-r-s-jobs {
  animation-delay: 3s ;
  animation: a-all-r-s-jobs ease-in-out 2s infinite;
  -webkit-animation: a-all-r-s-jobs ease-in-out 2s infinite;
}

.a-j-r-jobs {
  animation: a-j-r-jobs 2s ease-in-out;
  -webkit-animation: a-j-r-jobs 2s ease-in-out;
}

.a-t-r-jobs {
  position: absolute;
  margin: auto;
  animation: a-t-r-jobs 2s ease-in-out;
  -webkit-animation: a-t-r-jobs 2s ease-in-out;
}
