.MenuBtnBackground{
  content: "";
  width: 350px  ;
    height: 250px ;
    z-index: 9999 ;
    position: fixed ;
    bottom: 0px;
    right: 0px;
    display: fixed;
    margin: auto ;
    text-align: center;
   background: rgb(2,0,36);
background: radial-gradient(circle, rgba(0,0,0, 0.7) 0%, rgba(255,0,159,0) 60%);
}

.MenuBtnMobile {
    width: 60px  ;
    height: 60px  ;
    z-index: 9999 ;
    position: fixed ;
    bottom:40px;
    right:40px;
    display: fixed;
    margin: auto ;

    text-align: center;


  }
  .MenuBtnOptionList{
    width: 200px  ;
    height: auto  ;
    z-index: 9999 ;
    position: fixed ;
    bottom: 15px;
    right: 120px;
    display: fixed;
    margin: auto ;
    text-align: center;
  }
