.NotifyBox {
  position: absolute;
  margin: auto;
  box-sizing: border-box;
}
.NotifyBox.left {
  position: absolute;
  margin: auto;
  left: 0;
}
.NotifyBox.right {
  position: absolute;
  margin: auto;
  right: 0;
}
.NotifyBox.top {
  position: absolute;
  margin: auto;
  top: 0;
}
.NotifyBox.bottom {
  position: absolute;
  margin: auto;
  bottom: 0;
}
