<div class="w-100 h-auto h-pr-fl-ma small  c-br-1 c-bg-9">
<div class="w-25 h-auto h-pr-fl-ma c-p-1  b-s-b-b">
    <div class="w-100 h-auto flexbox h-pr-fl-ma c-p-1  c-p h-e normal bg-red-node c-br-1 ">
        <div class="w-80 h-auto h-pr-fl-ma c-f-1 p-l-10px small t-a-l c-white ">URGENTE</div>
        <div class="w-20 h-auto h-pr-fl-ma t-a-c">
            <i class="fas fa-exclamation-circle small c-white"></i></div>
        </div>
    </div>
    <div class="w-25 h-auto h-pr-fl-ma c-p-1 b-s-b-b">
      <div class="w-100 h-auto flexbox h-pr-fl-ma c-p-1 c-p h-e normal c-bg-8 c-br-1 ">
          <div class="w-80 h-auto h-pr-fl-ma c-f-1 p-l-10px small t-a-l c-white ">TODAS</div>
          <div class="w-20 h-auto h-pr-fl-ma t-a-c">
              <i class="fas fa-globe-americas small c-white"></i></div>
          </div>
      </div>
      <div class="w-25 h-auto h-pr-fl-ma c-p-1  b-s-b-b">
        <div class="w-100 h-auto flexbox h-pr-fl-ma c-p-1 c-p h-e normal c-bg-8 c-br-1 ">
            <div class="w-80 h-auto h-pr-fl-ma c-f-1 p-l-10px small t-a-l c-white ">ANTÍGUAS</div>
            <div class="w-20 h-auto h-pr-fl-ma t-a-c">
                <i class="fas fa-history small c-white"></i></div>
            </div>
        </div>
        <div class="w-25 h-auto h-pr-fl-ma c-p-1  b-s-b-b">
          <div class="w-100 h-auto flexbox h-pr-fl-ma c-p-1 c-p h-e normal bg-blue-node c-br-1 ">
              <div class="w-80 h-auto h-pr-fl-ma c-f-1 p-l-10px small t-a-l c-white ">PRIORIDAD</div>
              <div class="w-20 h-auto h-pr-fl-ma t-a-c">
                  <i class="fas fa-wheelchair small c-white"></i></div>
              </div>
          </div>
  </div>
