.checkbox {
  font-family: arial;
  display: inline-flex;
  position: relative;
  float: left;
  margin: auto;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.6em;
  background: none;
}

  .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
  /* SIZES */

.checkbox.nano{
  padding: 5px;
  font-size: calc(var(--current-font-nano) + 0.3em);
}
.checkbox.small{
  padding: 3px;
  font-size: calc(var(--current-font-small) - 0.08em);
}
.checkbox.normal{
  padding: 3px;
  font-size: calc(var(--current-font-normal) - 0.2em);
}
.checkbox.medium{
  padding: 3px;
  font-size: calc(var(--current-font-medium) - 0.8em);
}
.checkbox.big{
  padding: 3px;
  font-size:  calc(var(--current-font-big) - 1.5em);
}
.checkbox.giant{
  padding: 5px;
  font-size: calc(var(--current-font-giant) - 2.5em);
}

.checkbox-text{
  user-select: none;
  color: auto;
}
.checkbox_indicator {
  position: relative;
  float: left;
  margin: auto;
  height: 10px;
  width: 10px;
  border: 0px solid #000000;
  border-radius: var(--current-border-radius) ;
  -webkit-border-radius: var(--current-border-radius) ;
  -moz-border-radius: var(--current-border-radius) ;
  -ms-border-radius: var(--current-border-radius) ;
  -o-border-radius: var(--current-border-radius) ;
}

/* SIZES ADJUSTS */

.checkbox_indicator.nano {
  height: 10px ;
  width: 10px ;
}

.checkbox_indicator.small {
  height: 13px ;
  width: 13px ;
}

.checkbox_indicator.normal {
  height: 15px ;
  width: 15px ;
}

.checkbox_indicator.medium {
  height: 18px ;
  width: 18px ;
}

.checkbox_indicator.big {
  height: 22px ;
  width: 22px ;
}

.checkbox_indicator.giant {
  height: 25px ;
  width: 25px ;
}
/*      ----------------------       */
.checkbox:hover input ~ .checkbox_indicator,
.checkbox input:focus ~ .checkbox_indicator {
  background: rgba(255,255,255, 0.1);
  border-radius: 2px ;
  -webkit-border-radius: 2px ;
  -moz-border-radius: 2px ;
  -ms-border-radius: 2px ;
  -o-border-radius: 2px ;
}

.checkbox input:checked ~ .checkbox_indicator {
  background: inherit;

}
.checkbox:hover input:not([disabled]):checked ~ .checkbox_indicator,
.checkbox input:checked:focus ~ .checkbox_indicator {
  background: inherit;
}
.checkbox input:disabled ~ .checkbox_indicator {
  background: var(--current-color-emphasis);
  opacity: 0.6;
  pointer-events: none;
  transform-origin: center;
}
.checkbox_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkbox_indicator:after {
  display: block;

}
.checkbox-checkbox .checkbox_indicator:after {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);

}


/* FOR NORMAL DEFAULT CHECK */
.checkbox-checkbox .checkbox_indicator.default:after{
  border-color: #7e7e7e ;
}
.checkbox-checkbox .checkbox_indicator.white:after{
  border-color: #c2c2c2 ;
}
.checkbox-checkbox .checkbox_indicator.black:after{
  border-color: #303030 ;
}
/* FOR GHOST CHECKS */
.checkbox-checkbox .checkbox_indicator.default.ghost:after{
  border-color: #7e7e7e ;
}
.checkbox-checkbox .checkbox_indicator.alert.ghost:after{
  border-color: var(--current-color-red) ;
}
.checkbox-checkbox .checkbox_indicator.caution.ghost:after{
  border-color: var(--current-color-yellow) ;
}
.checkbox-checkbox .checkbox_indicator.info.ghost:after{
  border-color: var(--current-color-skyblue) ;
}
.checkbox-checkbox .checkbox_indicator.success.ghost:after{
  border-color: var(--current-color-green) ;
}
.checkbox-checkbox .checkbox_indicator.black.ghost:after{
  border-color: var(--current-color-black) ;
}
.checkbox-checkbox .checkbox_indicator.white.ghost:after{
  border-color: var(--current-color-white) ;
}

/*  ------ */

.checkbox-checkbox .checkbox_indicator.alert:after{
  border-color: white ;
}

.checkbox-checkbox .checkbox_indicator.nano:after {
  left: 3px ;
  top: 0px ;
  width: 2px;
  height: 5px;
}

.checkbox-checkbox .checkbox_indicator.small:after {
  left: 4px ;
  top: 1px ;
  width: 3px;
  height: 7px;
}

.checkbox-checkbox .checkbox_indicator.normal:after {
  left: 5px ;
  top: 1px ;
  width: 3px;
  height: 8px;
}

.checkbox-checkbox .checkbox_indicator.medium:after {
  left: 6px ;
  top: 2px ;
  width: 3px;
  height: 8px;
}

.checkbox-checkbox .checkbox_indicator.big:after {
  left: 7px ;
  top: 2px ;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}

.checkbox-checkbox .checkbox_indicator.giant:after {
  left: 8px ;
  top: 3px ;
  width: 6px;
  height: 12px;
  border-width: 0 3px 3px 0;
}

.checkbox-checkbox input:disabled ~ .checkbox_indicator:after {
  border-color: #7e7e7e;
}

.checkbox-checkbox .checkbox_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4.536rem;
  height: 4.401rem;
  margin-left: -2em;
  margin-top: -2em;
  background: var(--current-color-emphasis);
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);

 }/*
@keyframes s-ripple {
  0% {
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
} *//*
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
}
  100% {
      opacity: 0;
      transform: scale(2);
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
}
}*/
.checkbox-checkbox input + .checkbox_indicator::before {
  animation: s-ripple 300ms ease-out;
  -webkit-animation: s-ripple 300ms ease-out;
  transform-origin: center;
}
.checkbox-checkbox input:checked + .checkbox_indicator::before {
  animation-name: s-ripple-dup;
  transform-origin: center;
}
