.contact-btn{
  width: inherit;
  height: inherit;
  margin: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background: auto;


  }



.contact-btn:hover .sidebar-text {
  margin-left: 5px;

}
.contact-btn:active{
  filter: brightness(1.50) ;
  -webkit-filter: brightness(1.50) ;
  transform-origin: center;
  transform: scale(0.98)  ;
  -webkit-transform: scale(0.98)  ;
  -moz-transform: scale(0.98)  ;
  -ms-transform: scale(0.98)  ;
  -o-transform: scale(0.98)  ;
}
