.DropdownChevron::before{
  content: '\f0dd';
  color: inherit;
  font-size: 13px;
  font-weight: 900;
 font-family: 'Font Awesome 5 Free' ;
}
.DropdownChevron:active{
  transform-origin: center;
  animation:  dropdownanim 0.3s forwards;
  -webkit-animation:  dropdownanim 0.3s forwards;
}

@keyframes dropdownanim{
 from{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
  to{ transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
}
