.InputContainer.left{
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px ;
  }
  .InputContainer.right{
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px ;
  }
  .InputContainer.center{
    border-radius: 0px ;

  }

  input:focus{
    filter: brightness(110%) ;
    -webkit-filter: brightness(110%) ;
}

  .InputContainer.nano{
    font-size: var(--current-font-nano);

  }
  .InputContainer.small{
    font-size: var(--current-font-small);

  }
  .InputContainer.normal{
    font-size: var(--current-font-normal);

  }
  .InputContainer.medium{
    font-size: var(--current-font-medium);

  }
  .InputContainer.big{
    font-size: var(--current-font-big);

  }
  .InputContainer.giant{
    font-size: var(--current-font-giant);

  }

  .InputContainer{

    height: auto;
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: auto;
    flex-direction: row;
    color: auto;
  }

  .Input{

    display: inline-flex;
    color: auto;
    box-sizing: border-box;
    flex-grow: 1 ;
    overflow: hidden;
  }
  .Input input {
    width: 100%;
    display: inline-flex;
    outline: 0;
    border: none;
    color: auto;
    font-family: var(--current-font-family-1);
    padding: var(--current-padding-1);
    overflow: hidden;
  }
  .Input input::placeholder{
    color: auto;
    opacity: 0.5;
  }



  /*
  label[type="email"] .email .InputIconLeft i {
    content: "\f885" !important;

  }
  label[type="email"] .email .InputIconRight i {
  content: "\f885" !important;

  } */


  input.success{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.info{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.default{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.alert{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.caution{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.black{
    filter: brightness(1.10);
    -webkit-filter: brightness(1.10);
  }
  input.white{
    filter: brightness(-0.8);
    -webkit-filter: brightness(-0.8);
  }

  input[type="date"] {
    position: relative;
    font-size: auto;
    color: auto;
    background: inherit;
    line-height: inherit;
    padding: auto;

  }


 input[type="date"]::-webkit-calendar-picker-indicator { display: none; }

  input[type="date"]:before {
    display: block;
    font-family: 'Font Awesome 5 Free';
    content: '\f073';
    width: 25px;
    height: auto;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    padding: auto;
    margin: auto;
    line-height: inherit;

  }


  .Inp.nano input[type="date"] {
    height: 23px ;

  }
.Inp.small input[type="date"] {
    height: 26px ;

  }
.Inp.normal input[type="date"] {
    height: 28px ;

  }
  .Inp.big input[type="date"] {
    height: 53px ;

  }
  .Inp.giant input[type="date"] {
    height: 75px ;

  }

  label.InputIconLeft{
    background: inherit ; /* * BORRAR */

  }

  .InputIconLeft{
    background: inherit ; /* * BORRAR */
    max-width: 50px;
    display: inline-flex;
    line-height: inherit;
    height: 100%;
  }

  .InputIconLeft.nano  {
    box-sizing: border-box;
    min-width: 25px ;
    max-width: 25px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconLeft.small {
    box-sizing: border-box;
    min-width: 33px ;
    max-width: 35px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconLeft.normal {
    box-sizing: border-box;
    min-width: 40px ;
    max-width: 40px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconLeft.medium {
    box-sizing: border-box;
    min-width:  45px ;
    max-width: 45px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconLeft.big {
    box-sizing: border-box;
    min-width: 50px ;
    max-width: 50px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }
  .InputIconLeft.giant {
    box-sizing: border-box;
    min-width: 60px ;
    max-width: 80px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }


  /*  --------------  */
  .InputIconRight {
    width: auto;
    max-width: 50px;
    display: inline-flex;
    line-height: inherit;
    height: 100%;
    overflow: hidden;

  }

  .InputIconRight.nano  {
    box-sizing: border-box;
    min-width: 25px ;
    max-width: 25px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconRight.small  {
    box-sizing: border-box;
    min-width: 33px ;
    max-width: 35px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconRight.normal  {
    box-sizing: border-box;
    min-width: 40px ;
    max-width: 40px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconRight.medium  {
    box-sizing: border-box;
    min-width:  45px ;
    max-width: 45px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  .InputIconRight.big  {
    box-sizing: border-box;
    min-width: 50px ;
    max-width: 50px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }
  .InputIconRight.giant  {
    box-sizing: border-box;
    min-width: 60px ;
    max-width: 80px ;
    font-size: inherit;
    text-align: center;
    overflow: hidden;
  }

  /* RANGE */
  input[type=range].info {
    width: 100%;
    margin: 6px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].info:focus {
    outline: none;
  }
  input[type=range].info::-webkit-slider-runnable-track {
    background: #0096FF;
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range].info::-webkit-slider-thumb {
    margin-top: -6px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].info:focus::-webkit-slider-runnable-track {
    background: #0096FF;
  }
  input[type=range].info::-moz-range-track {
    background: #0096FF;
    border: 0;
    border-radius: 25px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range].info::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range].info::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.1px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  input[type=range].info::-ms-fill-lower {
    background: #0096FF;
    border: 0;
    border-radius: 50px;
  }
  input[type=range].info::-ms-fill-upper {
    background: #0096FF;
    border: 0;
    border-radius: 50px;
  }
  input[type=range].info::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;

  }
  input[type=range].info:focus::-ms-fill-lower {
    background: #0096FF;
  }
  input[type=range].info:focus::-ms-fill-upper {
    background: #0096FF;
  }

  @supports (-ms-ime-align:auto) {
    input[type=range].info {
      margin: 0;
    }
  }
  /*----------------------------------------------------*/
