@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.marquee {
  width: 100%;
  line-height: 1em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
}

