

.Sct.nano {
  height: 23px ;

}
.Sct.small {
  height: 26px ;

}
.Sct.normal {
  height: 31px ;

}
.Sct.big {
  height: 53px ;

}
.Sct.giant {
  height: 75px ;

}

.Input select {
  width: 100%;
  display: inline-flex;
  outline: 0;
  border: none;
  color: auto;
  font-family: var(--current-font-family-1);
  padding: var(--current-padding-1);
  overflow: hidden;
  outline: none;
  cursor: pointer;

}
