/* Select */
.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  outline: 0;
  border: 0 solid inherit;
  background: inherit;
  border-radius: 11px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:focus,
.select select:hover {
  color: inherit;
  background: inherit;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 0;
  height: 0;
  border: solid inherit;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow {
  border-color: inherit;
}
.select select:focus ~ .select_arrow {
  top: 11px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.select select:not(:focus) ~ .select_arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
