.Text {
  word-break: break-all;
  line-height: 1em;
  color: auto;
}

.t-r-o-l {
  text-rendering: optimizeLegibility ;
}

.t-r-o-s {
  text-rendering: optimizeSpeed ;
}

.t-r-g-p {
  text-rendering: geometricPrecision ;
}
