<div class="w-100 c-bg-9 flexbox c-br-2 m-b-5px h-auto h-pr-fl-ma h-e c-p">
    <div class="w-5 h-15vh h-pr-fl-ma">
        <div class="w-90 r-v-c h-80 br-t-r-10px br-b-r-10px bg-red-node v-a-m">
            <i class="fas fa-exclamation centered c-white"></i>
        </div>
    </div>
    <div class="w-95 h-100 h-pr-fl-ma">
        <div class="w-100 d-i-f c-p-1 h-auto h-pr-fl-ma">
            <div class="w-20 h-auto c-f-1 small h-pr-fl-ma f-w-bo t-of-e">PROGRAMADOR</div>
            <div class="w-20 h-auto c-f-1 small h-pr-fl-ma t-of-e t-a-c  c-green-node">0000000</div>
            <div class="w-20 h-auto c-f-1 small h-pr-fl-ma t-of-e t-a-c ">UY</div>
            <div class="w-20 h-auto c-f-1 small h-pr-fl-ma t-of-e t-a-c ">NODESYSTEMS</div>
            <div class="w-20 h-auto c-f-1 small h-pr-fl-ma t-of-e t-a-c ">VER MAS</div>
        </div>
        <div class="w-100 d-i-f h-10vh c-p-1"><span class=" max-lines-4 of-hidden small c-f-1 ">Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, veritatis vitae
            in quo accusantium molensectetur adipisicing elit. Obcaecati, veritatis vitae
            in quo accusantium molestiae quasi corrupti aperiam quibusdam beatae? Deleniti
            dolorum placeat tempora quisquam, eius natus stiae quasi corrupti aperiam quibusdam beatae? Deleniti
            dolorum placeat tempora quisquam, eius natus provident at. Obcaecati.</span></div>
        <div class="w-100 d-i-f h-auto f-w-bo h-pr-fl-ma">
            <div class="w-25 h-auto c-f-1 nano h-pr-fl-ma t-of-e c-p-1 c-p"><i class="h-pr-fl-ma fas c-p-1 fa-clock"></i><span class="h-pr-fl-ma c-p-1 c-inh">Hace 2 min</span></div>
            <div class="w-25 h-auto c-f-1 nano h-pr-fl-ma t-of-e c-p-1 t-a-c f-w-bo c-p c-blue-node "><i class="h-pr-fl-ma fas fa-wheelchair  p-l-10px c-white bg-blue-node c-br-1 c-p-1"></i><span class="h-pr-fl-ma c-p-1 c-inh">Prioridad</span></div>
            <div class="w-25 h-auto c-f-1 nano h-pr-fl-ma t-of-e c-p-1 t-a-c "><span class="h-pr-fl-ma c-p-1 c-inh">Prioridad</span></div>
            <div class="w-25 h-auto c-f-1 nano h-pr-fl-ma t-of-e c-p-1 t-a-c "><span class="h-pr-fl-ma c-p-1 c-inh">Montevideo | Uruguay</span></div>

        </div>
    </div>

</div>
