<div class="w-100 h-100 h-pr-fl-ma c-bg-9 c-f-1 c-p-1 c-br-2 ">
    <div class="w-100 h-25 h-pr-fl-ma c-p-1">
        <div class="w-50 h-auto r-h-c h-pr-fl-ma m-b-10px">
            <div class="a-r-16-9 w-100 h-pr-fl-ma c-br-1 c-bg-10"></div>
        </div>
        <div
            class="max-w-90 m-b-10px r-h-c t-a-c flexbox d-i-f h-auto small h-e c-p c-p-1 c-br-1 c-bg-8 h-pr-fl-ma b-s-b-b">

            <div class="w-100 p-l-5px t-of-e c-f-1 t-a-l of-hidden h-auto  c-white  ">
                <div class="p-r-10px   t-a-c h-auto h-pr-fl-ma ">
                    <i class="fas  fa-briefcase c-fuchsia-node"></i>
                </div>
                <span class="p-r-10px ">NODE SYSTEMS</span>
            </div>
        </div>
    </div>
    <div class="w-100 h-65 h-pr-fl-ma of-y-auto">
        <!-- TODO                            | CARGO | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">CARGO:</span>
            <span class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1">PROGRAMADOR</span>
        </div>
        <!-- TODO                            | SEXO REQUERIDO Y EDAD | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">SEXO Y EDAD REQUERIDA:</span>
            <div class="w-100 h-auto h-pr-fl-ma small d-i c-p-1 c-bg-8 c-br-1">
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">INDEFINIDO</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">+</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">21 AÑOS</span>
            </div>
        </div>
        <!-- TODO                            | ESTUDIOS | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">ESTUDIOS REQUERIDOS:</span>
            <span class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1">SECUNDARIA INCOMPLETA</span>
        </div>
        <!-- TODO                            | DISPONIBILIDAD HORARIA | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">DISPONIBILIDAD HORARIA:</span>
            <span class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1">TIEMPO PARCIAL</span>
        </div>
        <!-- TODO                            | DISPONIBILIDAD PARA VIAJAR | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">DISPONIBILIDAD PARA VIAJAR:</span>
            <span class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1">COMPLETA</span>
        </div>
        <!-- TODO                            | IDIOMAS | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">IDIOMAS REQUERIDOS:</span>
            <div class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1">
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">ESPAÑOL</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">+</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">PORTUGUES</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">+</span>
                <span class="w-auto h-auto h-pr-fl-ma p-l-5px">INGLES</span>
            </div>
        </div>
        <!-- TODO                            | DESCRIPCIÓN | -->
        <div class="w-100 h-auto h-pr-fl-ma m-b-5px">
            <span class="w-100 h-auto h-pr-fl-ma nano c-bg-10 c-p-1 c-br-1 ">DESCRIPCIÓN:</span>
            <div
                class="w-100 h-auto h-pr-fl-ma small c-p-1 c-bg-8 c-br-1 l-h-3em of-hidden ">
                <div class="w-auto h-auto h-pr-fl-ma p-l-5px small max-lines-3 of-hidden">
                    Enostrud aute velit quis anim eu culpa. Ut labore ullamco eiusmod mollit Lorem
                    deserunt fugiat consequat aliquip cillum. Cillum commodo officia magna nisi.
                    Tempor sunt occaecat minim excepteur. Ad deserunt aliqua sint anim anim
                </div>

            </div>
        </div>
    </div>
    <div class="w-100 h-10 h-pr-fl-ma">
        <div class="w-100 h-100 h-pr-fl-ma">
            <div class="w-100 c-p-1 r-v-b h-auto c-white h-pr-fl-ma">
                <Btn
                    class="w-100 small"
                    className="w-100 c-p-1"
                    theme="success"
                    text="POSTULARME"
                    IconLeft="fas fa-plus"></Btn>
            </div>
        </div>
    </div>
</div>
