.sidebar-btn{

  height: inherit;
  margin: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background: auto;
  }

.sidebar-btn:hover .sidebar-text {
  margin-left: 5px;
}

.sidebar-btn:active{
  filter: brightness(1.50) !important;
  -webkit-filter: brightness(1.50) !important;
  transform-origin: center;
  transform: scale(0.98)  ;
  -webkit-transform: scale(0.98)  ;
  -moz-transform: scale(0.98)  ;
  -ms-transform: scale(0.98)  ;
  -o-transform: scale(0.98)  ;
}
