<div class="w-100 h-auto c-f-1 h-pr-fl-ma c-br-1 small m-b-5px h-e c-p c-p-1 c-bg-8">
    <div class="w-100 h-auto flexbox a-i-c f-w-w h-pr-fl-ma">
        <div class="w-10 flex-auto h-auto h-pr-fl-ma">
            <div class="w-and-h-40px flex-auto circle c-bg-9 w-100"></div>
        </div>
        <div
            class="w-25 p-l-5px flex-auto h-auto h-pr-fl-ma small b-s-b-b t-of-e l-h-1em max-l-2 ">
            <div class="w-100 h-auto h-pr-fl-ma">{{Nombre}}</div>
            <div class="w-100 h-auto h-pr-fl-ma">{{Apellido}}</div>
        </div>
        <div
            class="w-15 flex-auto h-auto h-pr-fl-ma small b-s-b-b t-of-e l-h-1em max-l-2 ">{{Edad}}
            AÑOS</div>
        <div
            class="w-30 flex-auto h-auto h-pr-fl-ma small b-s-b-b t-of-e l-h-1em max-l-2 ">{{Profesion}}
        </div>
        <div class="w-15 flex-auto flex-auto m-d-i-f h-auto h-pr-fl-ma small">
            <div class="w-auto h-auto h-pr-fr-ma ">
                <div
                    class="w-and-h-25px c-bg-9 small b-s-b-b c-br-1 h-e c-p p-l-10px p-r-10px p-t-3px p-b-3px">
                    <i class="fas fa-file-alt centered c-inh "></i>
                </div>
            </div>
            <div class="w-auto h-auto h-pr-fr-ma m-r-3px">
                <div
                    class="w-and-h-25px c-bg-9 small b-s-b-b c-br-1 h-e c-p p-l-10px p-r-10px p-t-3px p-b-3px ">
                    <i class="fas fa-user-circle centered c-inh "></i>
                </div>
            </div>
        </div>
    </div>

</div>
