.MenuBtnBackground{
  content: "";
  width: 350px  !important;
    height: 250px !important;
    z-index: 9999 !important;
    position: fixed !important;
    bottom: 0px;
    right: 0px;
    display: fixed;
    margin: auto !important;
    text-align: center;
   background: rgb(2,0,36);
background: radial-gradient(circle, rgba(0,0,0, 0.7) 0%, rgba(255,0,159,0) 60%);
}

.MenuBtnMobile {
    width: 60px  !important;
    height: 60px  !important;
    z-index: 9999 !important;
    position: fixed !important;
    bottom:40px;
    right:40px;
    display: fixed;
    margin: auto !important;

    text-align: center;


  }
  .MenuBtnOptionList{
    width: 200px  !important;
    height: auto  !important;
    z-index: 9999 !important;
    position: fixed !important;
    bottom: 15px;
    right: 120px;
    display: fixed;
    margin: auto !important;
    text-align: center;
  }
