<!-- ?

* ██████  ███████  ██████  ██ ███████ ████████ ███████ ██████      ██████  ██    ██ ███████ ███████ ██ ███    ██ ███████ ███████ 
* ██   ██ ██      ██       ██ ██         ██    ██      ██   ██     ██   ██ ██    ██ ██      ██      ██ ████   ██ ██      ██      
* ██████  █████   ██   ███ ██ ███████    ██    █████   ██████      ██████  ██    ██ ███████ ███████ ██ ██ ██  ██ █████   ███████ 
* ██   ██ ██      ██    ██ ██      ██    ██    ██      ██   ██     ██   ██ ██    ██      ██      ██ ██ ██  ██ ██ ██           ██ 
* ██   ██ ███████  ██████  ██ ███████    ██    ███████ ██   ██     ██████   ██████  ███████ ███████ ██ ██   ████ ███████ ███████ 
                                                                                                                               

? -->
<form
  [formGroup]="BusinessForm"
  class="w-80 r-h-c c-p-1 of-hidden b-s-b-b h-auto h-pr-fl-ma"
  (submit)="HandleSubmit($event)"
>

<div class="w-100 b-s-b-b of-hidden h-auto h-pr-fl-ma c-bg-10 c-br-1 c-p-1">
  <div class="w-50 b-s-b-b of-hidden d-i-f h-auto h-pr-fl-ma ">
    <Btn

      text="Personas"
      class="w-100 h-pr-fl-ma bg-none"
      className="w-100 h-auto h-pr-fl-ma c-br-1 bg-none b-s-b-b c-br-1 t-a-c c-p"
      (click)="ToPeopleRegister()"
      Type="button"
    ></Btn>
  </div>
  <div class="w-50 h-auto of-hidden h-e b-s-b-b h-pr-fl-ma">
    <Btn
    theme="fuchsia"
      text="Empresas"
      class="w-100 h-pr-fl-ma"
      className="w-100 h-auto h-pr-fl-ma c-br-1 b-s-b-b c-br-1 t-a-c c-p"
      Type="button"
    ></Btn>
  </div>
</div>






  <!-- NOMBRE Y APELLIDO (TEXTO) -->
  <div class="w-100 b-s-b-b h-auto h-pr-fl-ma">
    <div class="w-50 b-s-b-b h-auto h-pr-fl-ma">
      <Text text="Nombre Fantasía" class="f-w-bo" size="nano"></Text>
    </div>
    <div class="w-50 b-s-b-b h-auto h-pr-fl-ma">
      <Text text="Razón Social" class="f-w-bo" size="nano"></Text>
    </div>
  </div>
  <!-- NOMBRE Y APELLIDO (INPUTS) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <div class="w-50 h-auto h-pr-fl-ma">
      <label
        class="InputContainer left c-br-2 black h-pr-fl-ma of-hidden text small w-100"
      >
        <div
          class="InputIconLeft flex-auto br-left b-s-b-b f-s-inh h-100 h-pr-fl-ma c-inh small black"
        >
          <i class="w-100 h-100 h-pr-fl-ma t-a-c r-h-c fas fa-user-circle"></i>
        </div>

        <div class="Input flex-auto h-pr-fl-ma">
          <input
            formControlName="name"
            name="name"
            placeholder="Nombre"
            type="text"
            class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
          />{{ children }}
        </div>
      </label>
    </div>
    <div class="w-50 h-auto h-pr-fl-ma">
      <label
        class="InputContainer right c-br-2 black h-pr-fl-ma of-hidden text small w-100"
      >
        <div class="Input flex-auto h-pr-fl-ma">
          <input
            formControlName="business_name"
            name="business_name"
            placeholder="Razon Social"
            type="text"
            class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
          />{{ children }}
        </div>
      </label>
    </div>
  </div>
  <!-- NICKNAME Y DATE (TEXTO) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <div class="w-50 h-auto h-pr-fl-ma">
      <Text text="Nombre de usuario" class="f-w-bo" size="nano"></Text>
    </div>
    <div class="w-50 h-auto h-pr-fl-ma">
      <Text text="N° Ident. (RUT/RUC)" class="f-w-bo" size="nano"></Text>
    </div>
  </div>
  <!-- NICKNAME Y DATE (INPUTS) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <div class="w-50 h-auto h-pr-fl-ma">
      <label
        class="InputContainer left c-br-2 black h-pr-fl-ma of-hidden text small w-100"
      >
        <div
          class="InputIconLeft flex-auto br-left b-s-b-b f-s-inh h-100 h-pr-fl-ma c-inh small black"
        >
          <i class="w-100 h-100 h-pr-fl-ma t-a-c r-h-c fas fa-at"></i>
        </div>

        <div class="Input flex-auto h-pr-fl-ma">
          <input
            formControlName="nickName"
            name="nickName"
            placeholder="Nombre"
            type="text"
            class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
          />{{ children }}
        </div>
      </label>
    </div>
    <div class="w-50 h-auto h-pr-fl-ma">
      <label
        class="InputContainer right c-br-2 black h-pr-fl-ma of-hidden text small w-100"
      >
        <div class="Input flex-auto h-pr-fl-ma">
          <input
            formControlName="rut"
            name="rut"
            placeholder="XXXXXXXXXX"
            type="text"
            class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
          />{{ children }}
        </div>
      </label>
    </div>
  </div>
  <!-- EMAIL (TEXTO) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <Text text="Ingrese su email:" class="f-w-bo" size="nano"></Text>
  </div>
  <!-- EMAIL (INPUT) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <!-- Codigo echo en reunión -->
    <label
      class="InputContainer c-bg-3 h-pr-fl-ma c-br-2 of-hidden black text small w-100"
    >
      <div
        class="InputIconLeft flex-auto b-s-b-b f-s-inh h-100 h-pr-fl-ma c-inh small black"
      >
        <i class="w-100 h-100 h-pr-fl-ma t-a-c r-h-c fas fa-envelope"></i>
      </div>

      <div class="Input flex-auto h-pr-fl-ma">
        <input
          formControlName="email"
          name="email"
          placeholder="Email"
          type="email"
          class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
        />{{ children }}
      </div>
    </label>
    <!-- Codigo echo en reunión -->
  </div>
  <!-- PASSWORD (TEXTO) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <Text class="f-w-bo" text="Ingrese su password:" size="nano"></Text>
  </div>
  <!-- PASSWORD (INPUT) -->
  <div class="w-100 h-auto h-pr-fl-ma">
    <label
      class="InputContainer c-bg-3 h-pr-fl-ma c-br-2 of-hidden black text small w-100"
    >
      <div
        class="InputIconLeft flex-auto b-s-b-b f-s-inh h-100 h-pr-fl-ma c-inh small black"
      >
        <i class="w-100 h-100 h-pr-fl-ma t-a-c r-h-c fas fa-asterisk"></i>
      </div>

      <div class="Input flex-auto h-pr-fl-ma">
        <input
          formControlName="password"
          name="password"
          placeholder="Password"
          type="password"
          class="h-100 h-pr-fl-ma f-s-inh h-e black w-100"
        />{{ children }}
      </div>
    </label>
  </div>
  <!-- DESLIGUE DE RESPONSABILIDAD (TEXTO) -->
  <div class="w-100 h-pr-fl-ma c-p-1">
    <div class="w-100 h-auto flexbox h-pr-fl-ma">
      <div class="w-30 flex-auto h-5vh h-pr-fl-ma">
        <div class="w-auto c-br-1 h-auto h-pr-fl-ma info">
          <label class="checkbox flexbox c-p-1 d-i-f checkbox-checkbox">
            <input
              formControlName="ternsConditions"
              name="ternsConditions"
              type="checkbox"
              class="h-pr-fl-ma"
            />
            <div class="checkbox_indicator nano info"></div>
            <span class="checkbox-text nano h-pr-fl-ma c-f-1 p-l-5px"
              >Acepto</span
            >
          </label>
        </div>
      </div>
      <div class="w-70 flex-auto h-pr-fl-ma">
        <Text
          class="f-w-bo"
          size="nano"
          text="Entiendo y acepto todas las políticas, términos y condiciones de uso."
        ></Text>
      </div>
    </div>
    <Btn
      theme="success"
      IconLeft="fas fa-user-circle"
      className="w-100 r-h-c c-p-1"
      size="normal"
      text="Registrarse"
    ></Btn>
  </div>
</form>
