<div class="w-100 h-auto flexbox h-pr-fl-ma c-bg-9 c-br-2 c-p-1">
    <div class="w-15 m-w-20 flex-auto  h-auto h-pr-fl-ma">
        <div
            class="w-auto  h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">Anterior</span>
        </div>
    </div>
    <div class="w-70 m-w-60 flex-auto  h-auto h-pr-fl-ma b-s-b-b">
<div class="r-h-c">
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">1</span>
        </div>
        <div
        class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
        <span class="c-p-1">&hellip;</span>
    </div>
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">2</span>
        </div>
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">3</span>
        </div>
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">4</span>
        </div>
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">5</span>
        </div>
        <div
        class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
        <span class="c-p-1">&hellip;</span>
    </div>
        <div
            class="w-auto h-auto h-pr-fl-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">6</span>
        </div>
      </div>
    </div>
    <div class="w-15 m-w-20 flex-auto  h-auto h-pr-fl-ma">
        <div
            class="w-auto h-auto h-pr-fr-ma c-white m-2px c-bg-8 c-p h-e c-f-1 p-l-10px p-r-10px b-s-b-b c-br-1 c-p-1">
            <span class="c-p-1">Siguiente</span>
        </div>
    </div>

</div>
