<div class="w-100 h-auto c-f-1 h-pr-fl-ma">
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b ">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Mi perfil</div>
    </div>
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-user-edit"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Editar perfil</div>
    </div>

    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-bell"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Mis Alertas</div>
    </div>

    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-newspaper"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Mis publicaciones</div>
    </div>
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-users"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Mis candidatos</div>
    </div>
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-chart-bar"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Mis estadísticas</div>
    </div>
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-cog"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Configuración</div>
    </div>

    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 c-bg-8 c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Soporte técnico</div>
    </div>
    <div
        class="w-100 h-auto h-pr-fl-ma d-i c-p h-e small m-b-5px c-p-1 alert c-br-1">
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px  p-t-3px b-s-b-b">
            <i class="fas fa-power-off"></i>
        </div>
        <div class="w-auto h-auto h-pr-fl-ma p-l-5px p-r-5px  p-t-3px b-s-b-b">Cerrar sesión</div>
    </div>

</div>
