/* =================-------| NODE BORDER RADIUS |-------================= */
/*
si se tiene en el mapa => '1': 5px | entonces genera lo siguiente
.ns-br-r-{1}{
  border-radius: {5px};
}
*/
$ns-border-radius-settings:(
  '1': 5px,
  '2': 10px,
  '3': 15px,
  '4': 20px,
  '5': 50%,
);

/* =================-------| BORDER STYLE |-------================= */
/* Se crea una clase con la clave y se le asigna un border-style con su respectivo valor */
/* Formato: .b-s-{clave} { border-style: {valor} } */
$border-style-settings:(
  'solid':solid, // Ejemplo: .b-s-solid { border-style: solid }
  'dashed':dashed,
  'dotted':dotted,
  'double':double,
  'groove':groove,
  'inset':inset,
  'outset':outset,
  'none':none,
  'hidden':hidden,
  'mix':dotted dashed solid double
);

/* =================-------| BORDER WITH |-------================= */
/*Una entrada de
  (
    "begin": 10,
    "end": 50,
    "interval": 5
  )
  permite crear la siguiente estructura
  .br-w-{10,15,20...50}px  {
    border-width: {10,15,20...50}px;
  }

En un rango de 10 a 50 con intervalos de 5, lo que generará .br-w-{10}px, ..br-w-{15}px. ... .br-w-{15}px
*/

$border-width-settings:(
  (
    "begin": 0,
    "end": 5,
    "interval": 1
  ),
  (
    "begin": 10,
    "end": 50,
    "interval": 5
  )
);

/* =================-------| BORDER RADIUS |-------================= */
$border-radius-settings:(
  (
    "begin": 0,
    "end": 5,
    "interval": 1
  ),
  (
    "begin": 10,
    "end": 50,
    "interval": 5
  )
);
