/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

/* =================-------| NODE FONT FAMILY|-------================= */
/* Formato: .ns-f-f-{clave} { font-family: {valor} } */
$node-font-family-settings: (
  "1": "'Permanent Marker', cursive",
  "2": "'Faster One', cursive",
  "3": "'Kaushan Script', cursive",
  "4": "'Pacifico', cursive",
  "5": "'Orbitron'",
  "6": "'Gochi Hand', cursive",
  "7": "'Poppins'"
);

/* =================-------| NODE FONT SIZE |-------================= */
$node-font-size-settings:(
  "title": (23px,20px), // "clase": (font-size , line-height)
  "subtitle": (1.125em,20px),
  "text": (0.813em,20px),
  "nano": (0.625em,12px),
  "small": (0.875em,18px),
  "normal": (1.000em,20px),
  "medium": (1.438em,25px),
  "big": (2.063em,35px),
  "giant": (3.125em,45px),
);

/* =================-------| FONT FAMILY |-------================= */
/* Formato: .f-f-{clave} { font-family: {valor} } */
$font-family-settings: (
  "permanent-marker": "'Permanent Marker', cursive", // Ejemplo: .f-f-permanent-marker { font-family: 'Permanent Marker', cursive }
  "faster-one": "'Faster One', cursive",
  "kaushan-script": "'Kaushan Script', cursive",
  "pacifico": "'Pacifico', cursive",
  "orbitron": "'Orbitron'",
  "gochi-hand": "'Gochi Hand', cursive",
  "poppins": "'Poppins'"
);

/* =================-------| FONT SIZE PX |-------================= */
/*
  Formato: .f-s-{valor}px { font-size: {valor}px }
  Ejemplo: (
    "begin": 5,
    "end": 25,
    "interval": 1,
  )
  Crea:
  .f-s-{5,6,7,8...25}px {
    font-size: {5,6,7,8...25}px
  }
*/
$font-size-px-settings: (
  (
    "begin": 5,
    "end": 25,
    "interval": 1,
  ),
  (
    "begin": 30,
    "end": 50,
    "interval": 5,
  )
);

/* =================-------| FONT SIZE EM |-------================= */
/*
  Formato: .f-s-{valor}em { font-size: {valor}em }
  Ejemplo: (
    "begin": 0.5,
    "end": 2,
    "interval": 0.1,
  )
  Crea:
  .f-s-{0-5,0-6,0-7,...2}em {
    font-size: {0.5,0.6,0.7,...2}em
  }
*/
$font-size-em-settings: (
  (
    "begin": 0.5,
    "end": 2,
    "interval": 0.1,
  ),
  (
    "begin": 2.5,
    "end": 6,
    "interval": 0.5,
  )
);

/* =================-------| LINE HEIGHT - PX |-------================= */
$line-height-px-settings: (
  (
    "begin": 1,
    "end": 5,
    "interval": 1
  ),
  (
    "begin": 10,
    "end": 100,
    "interval": 5
  ),
);

/* =================-------| LINE HEIGHT - EM |-------================= */
$line-height-em-settings: (
  (
    "begin": 0.1,
    "end": 0.9,
    "interval": 0.1
  ),
  (
    "begin": 1,
    "end": 10,
    "interval": 1
  ),
);
