@function format-float($number,$unit){
  @if floor($number) == $number {
    @if $unit == 1% {
      @return $number;
    }
    @else{
      @return $number * $unit;
    }
  } @else{
    $int: floor($number);
    $decimal: floor(($number - $int) * 10);
    @return "#{$int}-#{$decimal * $unit}"
  }
}
