@mixin generate-by-intervals($list, $property, $class, $unit) {
  @each $map in $list {
    $begin: map-get($map, "begin");
    $end: map-get($map, "end");
    $interval: map-get($map, "interval");
    @for $i from 0 to ((($end - $begin) / $interval) + 1) {
      .#{$class}-#{format-float(($begin + ($i * $interval)), $unit)}{
        #{$property}: ($begin + ($i * $interval)) * $unit;
      }
    }
  }
}
