
.image img{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

}
.img-cover{
  background-size: contain !important;
  object-fit: cover;
}
/* VALORES SQUARE */
.image .square-16x16 {
  height: 1.000em;
  width: 1.000em;
}
.image .square-24x24 {
  height: 1.500em;
  width: 1.500em;
}
.image .square-32x32 {
  height: 2.000em;
  width: 2.000em;
}
.image .square-64x64 {
  height: 4.000em;
  width: 4.000em;
}
.image .square-96x96 {
  height: 6.000em;
  width: 6.000em;
}
.image .square-128x128 {
  height: 8.000em;
  width: 8.000em;
}
.image .square-256x256 {
  height: 16.000em;
  width: 16.000em;
}
.image .square-480x480 {
  height: 30.000em;
  width: 30.000em;
}
.image .square-500x500 {
  height: 31.250em;
  width: 31.250em;
}
/* ----------------------- */
.image .square-500x500 {
  height: 31.250em;
  width: 31.250em;
}
