<div class="w-100 h-auto h-pr-fl-ma c-f-1 small">

    <div class="w-70 m-w-60 h-auto h-pr-fl-ma c-p-1">

        <div class="w-100 h-auto h-pr-fl-ma  c-br-1 c-bg-8 c-p-1">Buscar palabras claves:</div>

        <Tag Icon="fas fa-code" text="Peluquería"></Tag>
        <Tag Icon="fas fa-cog" text="Barbería"></Tag>
        <Tag Icon="fas fa-cog" text="Estilista"></Tag>
        <Tag Icon="fas fa-cog" text="Electricista"></Tag>
    </div>
    <div class="w-30 m-w-40 h-auto h-pr-fl-ma c-p-1">
        <div class="w-100 h-auto h-pr-fl-ma c-bg-8 c-p-1">
            <select class="w-100 h-auto h-pr-fl-ma c-p-1 c-p h-e">
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p" selected hidden>OFERTAS POR UBICACIÓN</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">TELETRABAJO</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">CERCA DE TI</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">10KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">25KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">50KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">100KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">MÁS DE 100KM</option>
            </select>
        </div>
        <div class="w-100 h-auto h-pr-fl-ma c-bg-8 c-p-1">

            <select class="w-100 h-auto h-pr-fl-ma c-p-1 c-p h-e">
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p" selected hidden>OFERTAS POR TIEMPO</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">CONTRATO A TÉRMINO</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">TRABAJO ÚNICO</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">10KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">25KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">50KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">100KM</option>
                <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">MÁS DE 100KM</option>
            </select>
        </div>
        <div class="w-100 h-auto h-pr-fl-ma c-bg-8 c-p-1">
            <div class="w-100 h-auto h-pr-fl-ma c-p-1">OFERTAS POR SALARIO</div>
            <div class="w-100 h-auto h-pr-fl-ma c-p-1">
                <span class="m-w-100 h-pr-fl-ma f-w-bo ">Salario ofrecido:</span>
                <span class="w-auto h-pr-fl-ma f-w-bo">0,00</span>
                <select class="w-auto h-pr-fl-ma f-w-bo m-l-3px c-p h-e">
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p" selected>USD</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">ARG</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">UYU</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">PYN</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">EUR</option>
                </select>
            </div>
            <input
                type="range"
                min="0"
                max="999999"
                class="w-100 h-auto h-pr-fl-ma c-p h-e">

                <select class="w-100 h-auto h-pr-fl-ma c-p-1 c-p h-e">
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p" selected hidden>FECHA DE PAGO</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">TELETRABAJO</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">CERCA DE TI</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">10KM</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">25KM</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">50KM</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">100KM</option>
                    <option class="w-100 h-auto h-pr-fl-ma c-p-1 h-e c-p">MÁS DE 100KM</option>
                </select>
            </div>

        </div>
        <div class="w-100 h-auto h-pr-fl-ma  c-br-1 c-bg-8 c-p-1">Necesitas consejos sobre cómo buscar? haz click aquí</div>
    </div>
