 .status.ghost {
  padding: 3px ;

}


* .textField{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 83, 83, 0.2);
  border-radius: inherit;
  margin: 0 !important;
  z-index: 99;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
* .textField span{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
